<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.project.ListingDao">
    <resultMap id="approvalList" type="com.elex.oa.entity.project.ApprovalList">
        <id column="id" javaType="int" property="id"></id>
        <result column="project_code"         javaType="string"   property="projectCode"></result>
        <result column="project_name"         javaType="string"   property="projectName"></result>
        <result column="write_date"            javaType="string"   property="writeDate"></result>
        <result column="project_source"       javaType="string"   property="projectSource"></result>
        <result column="project_type"         javaType="string"   property="projectType"></result>
        <result column="in_department"        javaType="string"   property="inDepartment"></result>
        <result column="proposer"              javaType="string"  property="proposer"></result>
        <result column="department1"           javaType="string"  property="department1"></result>
        <result column="business_manager"     javaType="string"  property="businessManager"></result>
        <result column="department2"           javaType="string"  property="department2"></result>
        <result column="project_manager"      javaType="string"  property="projectManager"></result>
        <result column="general_situation"    javaType="string"  property="generalSituation"></result>
        <result column="department_manager"   javaType="string"  property="departmentManager"></result>
    </resultMap>

    <select id="listQuery" parameterType="com.elex.oa.entity.project.AListQuery" resultMap="approvalList">
        SELECT id,project_code,project_name,write_date,project_source,project_type,in_department,proposer,business_manager,project_manager,general_situation FROM pro_app_list
        <where>
            <if test="input1 != '' and select1 == 1">
                AND project_code LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="input1 != '' and select == 2">
                AND  project_code NOT LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="input2 != '' and select2 == 1">
                AND project_name LIKE  CONCAT('%',#{input2},'%')
            </if>
            <if test="input2 != '' and select2 == 2">
                AND project_name NOT LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="date31 != null and date32 != null">
                AND write_date BETWEEN #{date31} AND #{date32}
            </if>
            <if test="list4 != null">
                AND project_source IN
                <foreach collection="list4" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="list5 != null">
                AND project_type IN
                <foreach collection="list5" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="select6 == 1 and input6 != ''">
                AND in_department LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select6 == 2 and input6 != ''">
                AND in_department LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select7 == 1 and input7 != ''">
                AND proposer LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select7 == 2 and input7 != ''">
                AND proposer LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select8 == 1 and input8 != ''">
                AND business_manager LIKE CONCAT('%',#{input8},'%')
            </if>
            <if test="select8 == 2 and input8 != ''">
                AND business_manager LIKE CONCAT('%',#{input8},'%')
            </if>
            <if test="select9 == 1 and input9 != ''">
                AND project_manager LIKE CONCAT('%',#{input9},'%')
            </if>
            <if test="select9 == 2 and input9 != ''">
                AND project_manager LIKE CONCAT('%',#{input9},'%')
            </if>
        </where>
    </select>
    <select id="queryCodeByName" parameterType="string" resultType="string">
        SELECT project_code FROM pro_app_list WHERE business_manager = #{name} OR project_manager = #{name}
    </select>
    <select id="queryContentByCode" parameterType="string" resultMap="approvalList">
        SELECT id,project_code,project_name,write_date,project_source,project_type,in_department,proposer,department1,business_manager,department2,project_manager,general_situation,department_manager FROM pro_app_list WHERE project_code = #{projectCode}
    </select>
    <update id="modifyAppListContent" parameterType="com.elex.oa.entity.project.ApprovalList" useGeneratedKeys="true" keyProperty="id">
        UPDATE pro_app_list SET project_name = #{projectName},project_source = #{projectSource}, project_type = #{projectType},general_situation = #{generalSituation} WHERE project_code = #{projectCode}
    </update>
</mapper>
