<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.project.ListingDao">
    <resultMap id="approvalList" type="com.elex.oa.entity.project.ApprovalList">
        <id column="id" javaType="int" property="id"></id>
        <result column="project_code"         javaType="string"   property="projectCode"></result>
        <result column="project_name"         javaType="string"   property="projectName"></result>
        <result column="write_date"            javaType="string"   property="writeDate"></result>
        <result column="project_source"       javaType="string"   property="projectSource"></result>
        <result column="project_type"         javaType="string"   property="projectType"></result>
        <result column="in_department"        javaType="string"   property="inDepartment"></result>
        <result column="proposer"              javaType="string"  property="proposer"></result>
        <result column="department1"           javaType="string"  property="department1"></result>
        <result column="business_manager"     javaType="string"  property="businessManager"></result>
        <result column="department2"           javaType="string"  property="department2"></result>
        <result column="project_manager"      javaType="string"  property="projectManager"></result>
        <result column="general_situation"    javaType="string"  property="generalSituation"></result>
        <result column="department_manager"   javaType="string"  property="departmentManager"></result>
    </resultMap>

    <resultMap id="approvalList1" type="com.elex.oa.entity.project.ApprovalList">
        <result column="F_XMBH" javaType="string" property="projectCode"></result>
        <result column="F_XMMC" javaType="string" property="projectName"></result>
        <result column="F_TXRQ" javaType="string" property="writeDate"></result>
        <result column="F_XMLY" javaType="string" property="projectSource"></result>
        <result column="F_XMLX" javaType="string" property="projectType"></result>
        <result column="F_SZBM_NAME" javaType="string" property="inDepartment"></result>
        <result column="F_SWJL_NAME" javaType="string" property="businessManager"></result>
        <result column="F_XMJL_NAME" javaType="string" property="projectManager"></result>
    </resultMap>


    <select id="listQuery" parameterType="com.elex.oa.entity.project.AListQuery" resultMap="approvalList1">
        SELECT w.F_XMBH, w.F_XMMC, w.F_TXRQ, w.F_XMLY, w.F_XMLX, w.F_SZBM_NAME, w.F_SWJL_NAME, w.F_XMJL_NAME FROM w_lxsqb w
        <where>
            <if test="select1 == 1 and input1 != ''">
                AND w.F_XMBH LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select1 == 2 and input1 != ''">
                AND w.F_XMBH NOT LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select2 == 1 and input2 != ''">
                AND w.F_XMBH LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="select2 == 2 and input2 != ''">
                AND w.F_XMBH NOT LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="date31 != null">
                AND w.F_TXRQ BETWEEN #{date31} AND #{date32}
            </if>
            <if test="list4 != null">
                AND w.F_XMLY IN
                <foreach collection="list4" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="list5 != null">
                AND w.project_type IN
                <foreach collection="list5" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="select6 == 1 and input6 != ''">
                AND w.F_SZBM_NAME LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select6 == 2 and input6 != ''">
                AND w.F_SZBM_NAME LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select7 == 1 and input7 != ''">
                AND w.F_SWJL_NAME LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select7 == 2 and input7 != ''">
                AND w.F_SWJL_NAME LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select8 == 1 and input8 != ''">
                AND w.F_XMJL_NAME LIKE CONCAT('%',#{input8},'%')
            </if>
            <if test="select8 == 2 and input8 != ''">
                AND w.F_XMJL_NAME LIKE CONCAT('%',#{input8},'%')
            </if>
            AND w.INST_STATUS_ = 'SUCCESS_END'
            AND NOT EXISTS (SELECT 1 FROM w_lxsqb WHERE w.F_XMBH = F_XMBH AND UPDATE_TIME_  > w.UPDATE_TIME_  )
        </where>
        ORDER BY w.F_XMBH DESC
    </select>

    <select id="queryCodeByName" parameterType="string" resultType="string">
        SELECT project_code FROM pro_app_list WHERE business_manager = #{name} OR project_manager = #{name}
    </select>

    <select id="queryContentByCode" parameterType="string" resultMap="approvalList">
        SELECT id,project_code,project_name,write_date,project_source,project_type,in_department,proposer,department1,business_manager,department2,project_manager,general_situation,department_manager FROM pro_app_list WHERE project_code = #{projectCode}
    </select>

    <update id="modifyAppListContent" parameterType="com.elex.oa.entity.project.ApprovalList" useGeneratedKeys="true" keyProperty="id">
        UPDATE pro_app_list SET project_name = #{projectName},project_source = #{projectSource}, project_type = #{projectType},general_situation = #{generalSituation} WHERE project_code = #{projectCode}
    </update>

    <select id="queryCodes" resultType="string">
        SELECT project_code FROM pro_app_list
    </select>

</mapper>
