<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.project.MileStoneDao">

    <resultMap id="projectInfor" type="com.elex.oa.entity.project.ProjectInfor">
        <result column="project_code"       javaType="string"  property="projectCode"></result>
        <result column="project_name"       javaType="string"  property="projectName"></result>
        <result column="dept_manager"       javaType="string"  property="deptManager"></result>
        <result column="in_department"      javaType="string"  property="inDepartment"></result>
        <result column="project_status"     javaType="string"  property="projectStatus"></result>
        <result column="project_manager"    javaType="string"  property="projectManager"></result>
        <result column="project_source"     javaType="string"  property="projectSource"></result>
        <result column="business_manager"   javaType="string"  property="businessManager"></result>
        <result column="project_type"        javaType="string"  property="projectType"></result>
        <result column="write_date"          javaType="string"  property="writeDate"></result>
        <result column="general_situation"  javaType="string"  property="generalSituation"></result>
    </resultMap>

    <resultMap id="mileStonePlan" type="com.elex.oa.entity.project.MileStonePlan">
        <result column="phase"       javaType="string" property="phase"></result>
        <result column="key_work"   javaType="string" property="keyWork"></result>
        <result column="status"      javaType="string" property="status"></result>
        <result column="start_date" javaType="string" property="startDate"></result>
        <result column="end_date"   javaType="string" property="endDate"></result>
        <result column="note"        javaType="string" property="note"></result>
    </resultMap>

    <resultMap id="mileStone" type="com.elex.oa.entity.project.MileStonePlan">
        <result column="F_JD" javaType="string" property="phase"></result>
        <result column="F_GJGZ" javaType="string" property="keyWork"></result>
        <result column="F_QSSJ" javaType="string" property="startDate"></result>
        <result column="F_JZSJ" javaType="string" property="endDate"></result>
        <result column="F_ZT" javaType="string" property="status"></result>
        <result column="F_BZ" javaType="string" property="note"></result>
    </resultMap>

    <select id="queryCodes" resultType="string">
        SELECT project_code FROM pro_miles
    </select>

    <select id="queryList" parameterType="com.elex.oa.entity.project.AListQuery" resultMap="projectInfor">
        SELECT project_code, project_name, dept_manager, in_department, project_status, project_manager, project_source, business_manager, project_type, write_date, general_situation
        FROM pro_pro_infor
        <where>
            <if test="select1 == 1 and input1 != ''">
                AND project_code LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select1 == 2 and input1 != ''">
                AND project_code NOT LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select2 == 1 and input2 != ''">
                AND project_name LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="select2 == 2 and input2 != ''">
                AND project_name NOT LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="date31 != null">
                AND write_date BETWEEN #{date31} AND #{date32}
            </if>
            <if test="list4 != null">
                AND project_source IN
                <foreach collection="list4" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="list5 != null">
                AND project_type IN
                <foreach collection="list5" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="select6 == 1 and input6 != ''">
                AND in_department LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select6 == 2 and input6 != ''">
                AND in_department NOT LIKE CONCAT('%',#{input6},'%')
            </if>
            <if test="select7 == 1 and input7 != ''">
                AND business_manager LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select7 == 2 and input7 != ''">
                AND business_manager NOT LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="type == 1 and select8 == 1 and input8 != ''">
                AND project_manager LIKE CONCAT('%',#{input8},'%')
            </if>
            <if test="type == 1 and select8 == 2 and input8 != ''">
                AND project_manager NOT LIKE CONCAT('%',#{input8},'%')
            </if>
            <if test="type == 2">
                AND project_manager = #{input8}
            </if>
            AND project_code IN
            <foreach collection="codes" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="queryProjectList" parameterType="com.elex.oa.entity.project.OperationQuery" resultMap="projectInfor">
        SELECT project_code, project_name, dept_manager, in_department, project_status, project_manager, project_source, business_manager, project_type, write_date, general_situation
        FROM pro_pro_infor
        <where>
            <if test="select1 == 1 and input1 != ''">
                AND project_code LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select1 == 2 and input1 != ''">
                AND project_code NOT LIKE CONCAT('%',#{input1},'%')
            </if>
            <if test="select2 == 1 and input2 != ''">
                AND project_name LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="select2 == 2 and input2 != ''">
                AND project_name NOT LIKE CONCAT('%',#{input2},'%')
            </if>
            <if test="select3 == 1 and input3 != ''">
                AND in_department LIKE CONCAT('%',#{input3},'%')
            </if>
            <if test="select3 == 2 and input3 != ''">
                AND in_department NOT LIKE CONCAT('%',#{input3},'%')
            </if>

            <if test="list6 != null">
                AND project_source IN
                <foreach collection="list6" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="select7 == 1 and input7 != ''">
                AND business_manager LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="select7 == 2 and input7 != ''">
                AND business_manager NOT LIKE CONCAT('%',#{input7},'%')
            </if>
            <if test="list8 != null">
                AND project_type IN
                <foreach collection="list8" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="codes != null">
                AND project_code NOT IN
                <foreach collection="codes" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND project_manager = #{name}
        </where>
    </select>

    <insert id="addMileStone" parameterType="com.elex.oa.entity.project.MileStone">
        INSERT INTO pro_miles (id, project_code, project_manager) VALUES (NULL, #{projectCode}, #{projectManager})
    </insert>

    <insert id="addMileStonePlans" parameterType="java.util.List">
        INSERT INTO pro_miles_plan (id, phase, key_work, status, start_date, end_date, note, project_code) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (NULL, #{item.phase}, #{item.keyWork}, #{item.status}, #{item.startDate}, #{item.endDate}, #{item.note}, #{item.projectCode})
        </foreach>
    </insert>

    <select id="queryPlansCode" parameterType="string" resultMap="mileStonePlan">
        SELECT  phase, key_work, status, start_date, end_date, note FROM pro_miles_plan WHERE project_code = #{projectCode}
    </select>

    <delete id="deleteMileStone" parameterType="string">
        DELETE FROM pro_miles WHERE project_code = #{projectCode}
    </delete>

    <delete id="deleteMileStonePlans" parameterType="string">
        DELETE FROM pro_miles_plan WHERE project_code = #{projectCode}
    </delete>

    <select id="queryContentByRel" parameterType="string" resultMap="mileStone">
        SELECT F_JD, F_GJGZ, F_QSSJ, F_JZSJ, F_ZT, F_BZ FROM w_lcbjh WHERE REF_ID_ = #{relCode}
    </select>
</mapper>