<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link href="/styles/customform.css" rel="stylesheet" type="text/css" />
<#assign ctxPath = "http://localhost:8081">
    <script type="text/javascript">
        let __rootPath = '${ctxPath}';

    </script>
<!--boot start-->
<!-- <script src="../config/Global.js"></script>-->
<script src="/layoutit/js/jquery.min.js" type="text/javascript"></script>
<script src="/layoutit/js/miniui.js" type="text/javascript"></script>
<link rel="stylesheet" href="/layoutit/css/miniui.css" type="text/css">
<link rel="stylesheet" href="/styles/icons.css" type="text/css">
<link rel="stylesheet" href="/layoutit/css/font-awesome.min.css"  type="text/css">
<link rel="stylesheet" href="/mini/miniui/themes/learun/skin.css"  type="text/css">
<!--boot end-->
<script src="/layoutit/js/share.js" type="text/javascript"></script>
<script src="/common/jquery/plugins/jquery.getscripts.js"></script>
<script src="/common/util.js" type="text/javascript"></script>
<script src="/common/form.js" type="text/javascript"></script>
<script src="/common/jquery/plugins/jquery-grid.js"></script>
<link rel="stylesheet" type="text/css" href="/common/jquery/plugins/qtips/jquery.qtip.min.css" />
<script src="/common/jquery/plugins/qtips/jquery.qtip.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/common/jquery/plugins/textarea/jquery-textarea-autoHeight.js"></script>
<script type="text/javascript" src="/common/jquery/plugins/fullscreen/jquery.fullscreen.js"></script>
<script type="text/javascript" charset="utf-8"	src="/common/ueditor/form-design/ueditor-ext.js"></script>
<script type="text/javascript" src="/common/jquery/plugins/scrollfix/scrollfix.min.js"></script>
<script src="/common/baiduTemplate.js" type="text/javascript"></script>
<script src="/customer/mini-custom.js" type="text/javascript"></script>
<script src="/common/form/customFormUtil.js" type="text/javascript"></script>
<script src="/common/form/CustomQuery.js" type="text/javascript"></script>
<script src="/common/form/FormCalc.js" type="text/javascript"></script>
<script src="/common/share/dialog.js" type="text/javascript"></script>
<link href="/styles/cover_list.css" rel="stylesheet" type="text/css" />
