<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link href="/styles/commons.css" rel="stylesheet" type="text/css" />
<link href="/styles/list.css" rel="stylesheet" type="text/css" />
<!--boot start-->
<!-- <script src="../config/Global.js"></script>-->
<script src="/common/Global.js" type="text/javascript"></script>
<script src="/layoutit/js/jquery.min.js" type="text/javascript"></script>
<script src="/layoutit/js/miniui.js" type="text/javascript"></script>
<link rel="stylesheet" href="/layoutit/css/miniui.css" type="text/css">
<link rel="stylesheet" href="/styles/icons.css" type="text/css">
<link rel="stylesheet" href="/layoutit/css/font-awesome.min.css"  type="text/css">
<link rel="stylesheet" href="/mini/miniui/themes/learun/skin.css"  type="text/css">
<script src="/layoutit/js/share.js" type="text/javascript"></script>
<script src="/common/jquery/plugins/jQuery.download.js" type="text/javascript"></script>
<script src="/common/list.js" type="text/javascript"></script>
<link href="/styles/form.css" rel="stylesheet" type="text/css" />
<script src="/common/form.js" type="text/javascript"></script>
<link href="/styles/cover_list.css" rel="stylesheet" type="text/css" />
<#assign ctxPath = "http://localhost:8081">