<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IChangeInformaionDao">

	<resultMap id="changeInformationResultMap" type="ChangeInformation">
		<id column="id" property="id" />
		<result column="changeinformation" property="changeinformation" />
		<result column="changeduserid" property="changeduserid" />
		<result column="beforeinformation" property="beforeinformation" />
		<result column="afterinformation" property="afterinformation" />
		<result column="changereason" property="changereason" />
		<result column="changedate" property="changedate" />
		<result column="tansactoruserid" property="tansactoruserid" />
	</resultMap>

	<insert id="insertOne" parameterType="ChangeInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_changeinformation (
			id,
			changeinformation,
			changeduserid,
			beforeinformation,
			afterinformation,
			changereason,
			changedate,
			transactoruserid)
		values (
			null,
		 	#{changeinformation},
		 	#{changeduserid},
		 	#{beforeinformation},
		 	#{afterinformation},
		 	#{changereason},
		 	#{changedate},
		 	#{transactoruserid})
	</insert>

	<select id="selectByConditions" parameterType="ChangeInformation" resultMap="changeInformationResultMap">
		SELECT
		c.id,
		c.changeduserid,
		c.changeinformation,
		c.beforeinformation,
		c.afterinformation,
		c.changereason,
		c.changedate,
		c.transactoruserid
		FROM tb_hr_changeinformation c
		LEFT JOIN tb_id_user u2 ON c.changeduserid = u2.id
		LEFT JOIN tb_id_user u ON c.transactoruserid = u.id
		<where>
			<if test="changeinformation!=null and changeinformation!='' or changeinformations!=null">
				<if test="changeinformationvalue=='' and changeinformations.size!=0">
					AND c.changeinformation IN
					<foreach collection="changeinformations" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="changeinformationvalue=='包含'">
					AND c.changeinformation LIKE CONCAT(CONCAT('%',#{changeinformation}),'%')
				</if>
				<if	test="changeinformationvalue=='不包含'">
					AND c.changeinformation NOT LIKE CONCAT(CONCAT('%',#{changeinformation}),'%')
				</if>
			</if>
			<if test="changedtruename!=null and changedtruename!='' or changedtruenames!=null">
				<if test="changedtruenamevalue=='' and changedtruenames.size!=0">
					AND u2.truename IN
					<foreach collection="changedtruenames" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="changedtruenamevalue=='包含'">
					AND u2.truename LIKE CONCAT(CONCAT('%',#{changedtruename}),'%')
				</if>
				<if	test="changedtruenamevalue=='不包含'">
					AND u2.truename NOT LIKE CONCAT(CONCAT('%',#{changedtruename}),'%')
				</if>
			</if>
			<if test="beforeinformation!=null and beforeinformation!='' or beforeinformations!=null">
				<if test="beforeinformationvalue=='' and beforeinformations.size!=0">
					AND c.beforeinformation IN
					<foreach collection="beforeinformations" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="beforeinformationvalue=='包含'">
					AND c.beforeinformation LIKE CONCAT(CONCAT('%',#{beforeinformation}),'%')
				</if>
				<if	test="beforeinformationvalue=='不包含'">
					AND c.beforeinformation NOT LIKE CONCAT(CONCAT('%',#{beforeinformation}),'%')
				</if>
			</if>
			<if test="afterinformation!=null and afterinformation!='' or afterinformations!=null">
				<if test="afterinformationvalue=='' and afterinformations.size!=0">
					AND c.afterinformation IN
					<foreach collection="afterinformations" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="afterinformationvalue=='包含'">
					AND c.afterinformation LIKE CONCAT(CONCAT('%',#{afterinformation}),'%')
				</if>
				<if	test="afterinformationvalue=='不包含'">
					AND c.afterinformation NOT LIKE CONCAT(CONCAT('%',#{afterinformation}),'%')
				</if>
			</if>
			<if test="changereason!=null and changereason!='' or changereasons!=null">
				<if test="changereasonvalue=='' and changereasons.size!=0">
					AND c.changereason IN
					<foreach collection="changereasons" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="changereasonvalue=='包含'">
					AND c.changereason LIKE CONCAT(CONCAT('%',#{changereason}),'%')
				</if>
				<if	test="changereasonvalue=='不包含'">
					AND c.changereason NOT LIKE CONCAT(CONCAT('%',#{changereason}),'%')
				</if>
			</if>
			<if test="changedatevalue1!=null and changedatevalue1!='' and changedatevalue2!=null and changedatevalue2!=''">
				AND c.changedate BETWEEN #{changedatevalue1} AND #{changedatevalue2}
			</if>
			<if test="transactortruename!=null and transactortruename!='' or transactortruenames!=null">
				<if test="transactortruenamevalue=='' and transactortruenames.size!=0">
					AND u.truename IN
					<foreach collection="transactortruenames" item="param" open="(" separator="," close=")" >
						#{param}
					</foreach>
				</if>
				<if test="transactortruenamevalue=='包含'">
					AND u.truename LIKE CONCAT(CONCAT('%',#{transactortruename}),'%')
				</if>
				<if	test="transactortruenamevalue=='不包含'">
					AND u.truename NOT LIKE CONCAT(CONCAT('%',#{transactortruename}),'%')
				</if>
			</if>
		</where>
		GROUP BY c.id DESC
	</select>

	<select id="selectAll" resultMap="changeInformationResultMap">
		SELECT * FROM tb_hr_changeinformation
		ORDER BY id DESC
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer" >
		DELETE FROM tb_hr_changeinformation
		WHERE id=#{id}
	</delete>
</mapper>
