<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IContractInformationDao">

	<resultMap id="ContractInformationResultMap" type="ContractInformation">
		<id column="id" property="id" />
		<result column="contractcode" property="contractcode" />
		<result column="userid" property="userid" />
		<result column="startdate" property="startdate" />
		<result column="enddate" property="enddate" />
		<result column="contracttypeid" property="contracttypeid" />
		<result column="attachment" property="attachment" />
		<result column="remark" property="remark" />
		<result column="transactoruserid" property="transactoruserid" />
		<result column="transdate" property="transdate" />
	</resultMap>

	<select id="selectByConditions" parameterType="ContractInformation" resultMap="ContractInformationResultMap">
		SELECT
			c.id,
			c.contractcode,
			c.userid,
			c.startdate,
			c.enddate,
			c.contracttypeid,
			c.attachment,
			c.remark,
			c.transactoruserid,
			c.transdate
		FROM
			tb_hr_contractinformation c
		LEFT JOIN tb_id_user u ON c.userid = u.id
		LEFT JOIN tb_hr_set_contracttype ct ON c.contracttypeid = ct.id
		<where>
			<if test="userids!=null">
				AND c.userid IN
				<foreach collection="userids" item="param"  open="(" close=")" separator=",">
					#{param}
				</foreach>
			</if>
			<if test="contractcode!=null and contractcode!=''">
				<if test="contractcodevalue==''">
					AND c.contractcode = #{contractcode}
				</if>
				<if test="contractcodevalue=='包含'">
					AND c.contractcode LIKE CONCAT(CONCAT('%',#{contractcode}),'%')
				</if>
				<if	test="contractcodevalue=='不包含'">
					AND c.contractcode NOT LIKE CONCAT(CONCAT('%',#{contractcode}),'%')
				</if>
			</if>
			<if test="contracttype!=null and contracttype!=''">
				<if test="contracttypevalue==''">
					AND ct.contracttype = #{contracttype}
				</if>
				<if test="contracttypevalue=='包含'">
					AND ct.contracttype LIKE CONCAT(CONCAT('%',#{contracttype}),'%')
				</if>
				<if	test="contracttypevalue=='不包含'">
					AND ct.contracttype NOT LIKE CONCAT(CONCAT('%',#{contracttype}),'%')
				</if>
			</if>
			<if test="contractage!=null and contractage!=''">
				<if test="contractagevalue==''">
					AND c.enddate - c.startdate = #{contractage}
				</if>
				<if test="contractagevalue== 1">
					<![CDATA[ AND c.enddate - c.startdate > #{contractage} ]]>
				</if>
				<if test="contractagevalue==2">
					<![CDATA[ AND c.enddate - c.startdate < #{contractage} ]]>
				</if>
				<if test="contractagevalue==3">
					<![CDATA[ AND c.enddate - c.startdate >=  #{contractage} ]]>
				</if>
				<if test="contractagevalue==4">
					<![CDATA[ AND c.enddate - c.startdate <= #{contractage} ]]>
				</if>
				<if test="contractagevalue==5">
					AND c.enddate - c.startdate = #{contractage}
				</if>
				<if test="contractagevalue==6">
					<![CDATA[ AND c.enddate - c.startdate != #{contractage} ]]>
				</if>
			</if>
			<if test="startdatevalue1!=null and startdatevalue2!=''">
				AND c.startdate BETWEEN #{startdatevalue1} AND #{startdatevalue2}
			</if>
			<if test="enddatevalue1!=null and enddatevalue2!=''">
				AND c.enddate BETWEEN #{enddatevalue1} AND #{enddatevalue2}
			</if>
			<if test="remark!=null and remark!=''">
				<if test="remarkvalue==''">
					AND c.remark = #{remark}
				</if>
				<if test="remarkvalue=='包含'">
					AND c.remark LIKE CONCAT(CONCAT('%',#{remark}),'%')
				</if>
				<if	test="remarkvalue=='不包含'">
					AND c.remark NOT LIKE CONCAT(CONCAT('%',#{remark}),'%')
				</if>
			</if>
			AND c.enddate <![CDATA[>]]> #{curdate}
		</where>
		GROUP BY c.id
	</select>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="ContractInformationResultMap">
		SELECT
			id,
			contractcode,
			userid,
			startdate,
			enddate,
			contracttypeid,
			attachment,
			remark,
			transactoruserid,
			transdate
		FROM
			tb_hr_contractinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" parameterType="ContractInformation" useGeneratedKeys="true" keyProperty="id">
		  insert into tb_hr_contractinformation
		  (id,
			contractcode,
			userid,
			startdate,
			enddate,
			contracttypeid,
			attachment,
			remark,
			transactoruserid,
			transdate)
		  VALUES
		  (NULL ,
		  #{contractcode},
		  #{userid},
		  #{startdate},
		  #{enddate},
		  #{contracttypeid},
		  #{attachment},
		  #{remark},
		  #{transactoruserid},
		  #{transdate})
	</insert>

	<select id="selectAll" resultMap="ContractInformationResultMap">
		SELECT * FROM tb_hr_contractinformation
	</select>

	<select id="selectByUserid" parameterType="java.lang.Integer" resultMap="ContractInformationResultMap">
		SELECT * FROM tb_hr_contractinformation
		WHERE userid=#{userid}
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer" >
		DELETE FROM tb_hr_contractinformation
		WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="ContractInformation" >
		UPDATE tb_hr_contractinformation
		<set>
			<if	test="contractcode!=null and contractcode!=''">contractcode=#{contractcode},</if>
			<if	test="userid!=null and userid!=''">userid=#{userid},</if>
			<if	test="startdate!=null and startdate!=''">startdate=#{startdate},</if>
			<if	test="enddate!=null and enddate!=''">enddate=#{enddate},</if>
			<if	test="contracttypeid!=null and contracttypeid!=''">contracttypeid=#{contracttypeid},</if>
			<if	test="attachment!=null and attachment!=''">attachment=#{attachment},</if>
			<if	test="remark!=null and remark!=''">remark=#{remark},</if>
			<if	test="transactoruserid!=null and transactoruserid!=''">transactoruserid=#{transactoruserid},</if>
			<if	test="transdate!=null and transdate!=''">transdate=#{transdate},</if>
		</set>
		WHERE id=#{id}
	</update>

</mapper>
