<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IDimissionInformationDao">

	<resultMap id="dimissionInformaionMapper" type="DimissionInformation">
		<id column="id" property="id" />
		<result column="dimissionuserid" property="dimissionuserid" />
		<result column="lastworkingdate" property="lastworkingdate" />
		<result column="dimissiontypeid" property="dimissiontypeid" />
		<result column="dimissionreasonid" property="dimissionreasonid" />
		<result column="transactoruserid" property="transactoruserid" />
		<result column="transactiondate" property="transactiondate" />
		<result column="dimissiondirectionid" property="dimissiondirectionid" />
		<result column="approvalnumbers" property="approvalnumbers" />
		<result column="approvalstatue" property="approvalstatue" />
		<result column="workingnumbers" property="workingnumbers" />
		<result column="workingstatue" property="workingstatue" />
		<result column="filenumbers" property="filenumbers" />
		<result column="filestatue" property="filestatue" />
		<result column="officesupplynumbers" property="officesupplynumbers" />
		<result column="officesupplystatue" property="officesupplystatue" />
	</resultMap>

	<insert id="insertOne" parameterType="DimissionInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_dimission
		(id,
		 dimissionuserid,
		 lastworkingdate,
		 dimissiontypeid,
		 dimissionreasonid,
		 transactoruserid,
		 transactiondate,
		 dimissiondirectionid,
		 approvalnumbers,
		 approvalstatue,
		 workingnumbers,
		 workingstatue,
		 filenumbers,
		 filestatue,
		 officesupplynumbers,
		 officesupplystatue)
		VALUES
		(NULL ,
		#{dimissionuserid},
		#{lastworkingdate},
		#{dimissiontypeid},
		#{dimissionreasonid},
		#{transactoruserid},
		#{transactiondate},
		#{dimissiondirectionid},
		#{approvalnumbers},
		#{approvalstatue},
		#{workingnumbers},
		#{workingstatue},
		#{filenumbers},
		#{filestatue},
		#{officesupplynumbers},
		#{officesupplystatue})
	</insert>

	<select id="selectByCondition" parameterType="DimissionInformation" resultMap="dimissionInformaionMapper">
		select
			dm.id,
			dm.dimissionuserid,
			dm.lastworkingdate,
			dm.dimissiontypeid,
			dm.dimissionreasonid,
			dm.transactoruserid,
			dm.transactiondate,
			dm.dimissiondirectionid
		from tb_hr_dimission dm
		    JOIN tb_id_user u ON dm.transactoruserid = u.id
		    JOIN tb_hr_set_dimissiontype dt ON dm.dimissiontypeid = dt.id
		    JOIN tb_hr_set_dimissiondirection dd ON dm.dimissiondirectionid = dd.id
		    JOIN tb_hr_set_dimissionreason dr ON dm.dimissionreasonid = dr.id
		<where>
			<if test="userids!=null">
				AND dm.dimissionuserid IN
				<foreach collection="userids" item="param"  open="(" close=")" separator=",">
					#{param}
				</foreach>
			</if>
			<if test="lastworkingdatevalue1!=null and lastworkingdatevalue1!='' and lastworkingdatevalue2!=null and lastworkingdatevalue2!=''">
				AND dm.lastworkingdate BETWEEN #{lastworkingdatevalue1} AND #{lastworkingdatevalue2}
			</if>
			<if test="dimissiontype!=null and dimissiontype!='' or dimissiontypes!=null">
				<if test="dimissiontypevalue=='' and dimissiontypes.size!=0">
					AND dt.dimissiontype IN
					<foreach collection="dimissiontypes" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="dimissiontypevalue=='包含'">
					AND dt.dimissiontype LIKE CONCAT('%',#{dimissiontype},'%')
				</if>
				<if test="dimissiontypevalue=='不包含'">
					AND dt.dimissiontype NOT LIKE CONCAT('%',#{dimissiontype},'%')
				</if>
			</if>
			<if test="dimissionreason!=null and dimissionreason!='' or dimissionreasons!=null">
				<if test="dimissionreasonvalue=='' and dimissionreasons.size!=0">
					AND dr.dimissionreason IN
					<foreach collection="dimissionreasons" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="dimissionreasonvalue=='包含'">
					AND dr.dimissionreason LIKE CONCAT('%',#{dimissionreason},'%')
				</if>
				<if test="dimissionreasonvalue=='不包含'">
					AND dr.dimissionreason NOT LIKE CONCAT('%',#{dimissionreason},'%')
				</if>
			</if>
			<if test="dimissiondirection!=null and dimissiondirection!='' or dimissiondirections!=null">
				<if test="dimissiondirectionvalue=='' and dimissiondirections.size!=0">
					AND dd.dimissiondirection IN
					<foreach collection="dimissiondirections" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="dimissiondirectionvalue=='包含'">
					AND dd.dimissiondirection LIKE CONCAT('%',#{dimissiondirection},'%')
				</if>
				<if test="dimissiondirectionvalue=='不包含'">
					AND dd.dimissiondirection NOT LIKE CONCAT('%',#{dimissiondirection},'%')
				</if>
			</if>
			<if test="transactortruename!=null and transactortruename!='' or transactortruenames!=null">
				<if test="transactortruenamevalue=='' and transactortruenames.size!=0">
					AND u.truename IN
					<foreach collection="transactortruenames" item="param" open="(" separator="," close=")">
						#{param}
					</foreach>
				</if>
				<if test="transactortruenamevalue=='包含'">
					AND u.truename LIKE CONCAT('%',#{transactortruename},'%')
				</if>
				<if test="transactortruenamevalue=='不包含'">
					AND u.truename NOT LIKE CONCAT('%',#{transactortruename},'%')
				</if>
			</if>
			<if test="transactiondatevalue1!=null and transactiondatevalue1!='' and transactiondatevalue2!=null and transactiondatevalue2!=''">
				AND dm.transactiondate BETWEEN #{transactiondatevalue1} AND #{transactiondatevalue2}
			</if>
		</where>
		ORDER BY dm.id DESC
	</select>

	<select id="selectOneById" parameterType="java.lang.Integer" resultMap="dimissionInformaionMapper">
		select * from tb_hr_dimission
		WHERE id =#{_parameter,jdbcType=NUMERIC}
	</select>

	<update id="updateOne" parameterType="DimissionInformation" >
		update tb_hr_dimission
		<set>
			<if test="lastworkingdate!=null and lastworkingdate!=''">lastworkingdate=#{lastworkingdate},</if>
			<if test="dimissiontypeid!=null and dimissiontypeid!=''">dimissiontypeid=#{dimissiontypeid},</if>
			<if test="dimissionreasonid!=null and dimissionreasonid!=''">dimissionreasonid=#{dimissionreasonid},</if>
			<if test="dimissiondirectionid!=null and dimissiondirectionid!=''">dimissiondirectionid=#{dimissiondirectionid},</if>
			<if test="approvalstatue!=null and approvalstatue!=''">approvalstatue=#{approvalstatue},</if>
			<if test="workingstatue!=null and workingstatue!=''">workingstatue=#{workingstatue},</if>
			<if test="filestatue!=null and filestatue!=''">filestatue=#{filestatue},</if>
			<if test="officesupplystatue!=null and officesupplystatue!=''">officesupplystatue=#{officesupplystatue}</if>
		</set>
		WHERE id=#{id}
	</update>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_dimission
		WHERE id=#{id}
	</delete>

</mapper>
