<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr_shiyun.ICostInformationDao">

	<resultMap id="CostInformationResultMap" type="CostInformation">
		<id column="id" property="id" />
		<result column="salarystandardid" property="salarystandardid" />
		<result column="ssbid" property="ssbid" />
		<result column="ssbgscdid" property="ssbgscdid" />
		<result column="ssbgrcdid" property="ssbgrcdid" />
		<result column="gjjid" property="gjjid" />
		<result column="gjjgscdid" property="gjjgscdid" />
		<result column="gjjgrcdid" property="gjjgrcdid" />
		<result column="khhid" property="khhid" />
		<result column="salaryaccount" property="salaryaccount" />
		<result column="sbjndid" property="sbjndid" />
		<result column="sbcode" property="sbcode" />
		<result column="gjjcode" property="gjjcode" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="CostInformationResultMap">
		SELECT
			*
		FROM
			tb_id_costinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" useGeneratedKeys="true" parameterType="CostInformation" keyProperty="id">
		insert into tb_id_costinformation(
			id,
			salarystandardid,
			ssbid,
			ssbgscdid,
			ssbgrcdid,
			gjjid,
			gjjgscdid,
			gjjgrcdid,
			khhid,
			salaryaccount,
			sbjndid,
			sbcode,
			gjjcode)
		values(
			NULL ,
			#{salarystandardid},
			#{ssbid},
			#{ssbgscdid},
			#{ssbgrcdid},
			#{gjjid},
			#{gjjgscdid},
			#{gjjgrcdid},
			#{khhid},
			#{salaryaccount},
			#{sbjndid},
			#{sbcode},
			#{gjjcode})
	</insert>

	<update id="updateOne" parameterType="CostInformation" >
		update tb_id_costinformation
		<set>
			id=#{id},
			<if test="salarystandardid!=null and salarystandardid!=''">salarystandardid=#{salarystandardid},</if>
			<if test="ssbid!=null and ssbid!=''">ssbid=#{ssbid},</if>
			<if test="ssbgscdid!=null and ssbgscdid!=''">ssbgscdid=#{ssbgscdid},</if>
			<if test="ssbgrcdid!=null and ssbgrcdid!=''">ssbgrcdid=#{ssbgrcdid},</if>
			<if test="gjjid!=null and gjjid!=''">gjjid=#{gjjid},</if>
			<if test="gjjgscdid!=null and gjjgscdid!=''">gjjgscdid=#{gjjgscdid},</if>
			<if test="gjjgrcdid!=null and gjjgrcdid!=''">gjjgrcdid=#{gjjgrcdid},</if>
			<if test="khhid!=null and khhid!=''">khhid=#{khhid},</if>
			<if test="salaryaccount!=null and salaryaccount!=''">salaryaccount=#{salaryaccount},</if>
			<if test="sbjndid!=null and sbjndid!=''">sbjndid=#{sbjndid},</if>
			<if test="sbcode!=null and sbcode!=''">sbcode=#{sbcode},</if>
			<if test="gjjcode!=null and gjjcode!=''">gjjcode=#{gjjcode},</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM tb_id_costinformation
		WHERE id=#{id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM tb_id_costinformation
	</delete>
</mapper>
