<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr.IManageInformationDao">

	<resultMap id="ManageInformationResultMap" type="ManageInformation">
		<id column="id" property="id" />
		<result column="postlevelid" property="postlevelid" />
		<result column="postrankid" property="postrankid" />
		<result column="employeetypeid" property="employeetypeid" />
		<result column="entrydate" property="entrydate" />
		<result column="zhuanzhengdate" property="zhuanzhengdate" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="ManageInformationResultMap">
		SELECT
			*
		FROM
			tb_id_manageinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" parameterType="ManageInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_manageinformation (
			id,
			postlevelid,
			postrankid,
			employeetypeid,
			entrydate,
			zhuanzhengdate
			)
		values (
			null,
			#{postlevelid},
			#{postrankid},
			#{employeetypeid},
			#{entrydate},
			#{zhuanzhengdate}
			)
	</insert>

	<update id="updateOne" parameterType="ManageInformation">
		update tb_id_manageinformation
		<set>
			<if test="postlevelid!=null and postlevelid!=''">
				postlevelid=#{postlevelid},
			</if>
			<if test="postrankid!=null and postrankid!=''">
				postrankid=#{postrankid},
			</if>
			<if test="employeetypeid!=null and employeetypeid!=''">
				employeetypeid=#{employeetypeid},
			</if>
			<if test="entrydate!=null and entrydate!=''">
				entrydate=#{entrydate},
			</if><if test="zhuanzhengdate!=null and zhuanzhengdate!=''">
				zhuanzhengdate=#{zhuanzhengdate},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM tb_id_manageinformation
		WHERE id=#{id}
	</delete>
	<delete id="deleteAll">
		DELETE FROM tb_id_manageinformation
	</delete>
	
	<select id="getGroupIdByUserId" resultType="String">
		SELECT PARTY1_ FROM os_rel_inst WHERE PARTY2_ = (SELECT USER_ID_ FROM os_user WHERE EMPLOYEE_NUMBER_ = #{userId}) AND DIM1_ = '1' LIMIT 1
	</select>
</mapper>
