<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr_shiyun.IPerandpostrsDao">

	<resultMap id="PerandpostrsMapper" type="PerAndPostRs">
		<id column="perid" property="perid" />
		<result column="postid" property="postid" />
	</resultMap>

	<insert id="insertOne" parameterType="PerAndPostRs" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_per_and_post_rs (
			perid,
			postid)
		values (
			#{perid},
			#{postid})
	</insert>

	<select id="selectPostidsByPerid" parameterType="java.lang.Integer" resultMap="PerandpostrsMapper">
		SELECT * FROM tb_hr_per_and_post_rs
		WHERE perid=#{perid}
	</select>

	<select id="selectOneByPeridAndPostid" parameterType="java.lang.Integer" resultMap="PerandpostrsMapper">
		SELECT * FROM tb_hr_per_and_post_rs
		WHERE perid=#{perid} and postid=#{postid}
	</select>

	<select id="selectPeridsByPostid" parameterType="java.lang.Integer" resultMap="PerandpostrsMapper">
		SELECT * FROM tb_hr_per_and_post_rs
		WHERE postid=#{postid}
	</select>

	<delete id="deleteByPerid" parameterType="java.lang.Integer" >
		DELETE FROM tb_hr_per_and_post_rs WHERE perid=#{perid}
	</delete>

	<delete id="deleteAll">
		DELETE FROM tb_hr_per_and_post_rs
	</delete>

	<delete id="deleteOneByPeridAndPostid" parameterType="java.lang.Integer" >
		DELETE FROM tb_hr_per_and_post_rs WHERE perid=#{perid} and postid=#{postid}
	</delete>

	<delete id="deleteByPostid" parameterType="java.lang.Integer" >
		DELETE FROM tb_hr_per_and_post_rs WHERE postid=#{postid}
	</delete>

	<select id="selectByConditions" parameterType="PersonalInformation" resultMap="PerandpostrsMapper">
		SELECT rs.perid
		FROM tb_hr_per_and_post_rs rs
		JOIN tb_id_post p ON rs.postid = p.id
		<where>
			<if test="postname!=null and postname!='' or postnameList!=null">
				<if test="postnamevalue=='' and postnameList.size!=0">
					p.postname IN
					<foreach collection="postnameList" item="param" open="(" close=")" separator=",">
						#{param}
					</foreach>
				</if>
				<if test="postnamevalue=='包含'">
					p.postname LIKE CONCAT(CONCAT('%', #{postname}), '%')
				</if>
				<if test="postnamevalue=='不包含' and perids!=null and perids.size!=0">
					rs.perid NOT IN
					<foreach collection="perids" item="param"  open="(" close=")" separator=",">
						#{param}
					</foreach>
				</if>
			</if>
		</where>
	</select>

	<select id="selectByConditions2" parameterType="PersonalInformation" resultMap="PerandpostrsMapper">
		SELECT rs.perid
		FROM tb_hr_per_and_post_rs rs
		LEFT JOIN tb_id_post p ON rs.postid = p.id
		WHERE
		<if test="postname!=null and postname!=''">
			p.postname LIKE CONCAT(CONCAT('%', #{postname}), '%')
		</if>
		GROUP BY rs.perid
	</select>

</mapper>
