<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr_shiyun.IRAndPInformationDao">

	<resultMap id="rAndPInformationMapper" type="RAndPInformation">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="isreward" property="isreward" />
		<result column="grantunit" property="grantunit" />
		<result column="randpproject" property="randpproject" />
		<result column="randpdate" property="randpdate" />
		<result column="randpsum" property="randpsum" />
		<result column="randpreason" property="randpreason" />
		<result column="transactoruserid" property="transactoruserid" />
	</resultMap>

	<insert id="insertOne" parameterType="RAndPInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_randpinformation
		(id,
		 userid,
		 isreward,
		 grantunit,
		 randpproject,
		 randpdate,
		 randpsum,
		 randpreason,
		 transactoruserid)
		VALUES
		(NULL ,
		#{userid},
		#{isreward},
		#{grantunit},
		#{randpproject},
		#{randpdate},
		#{randpsum},
		#{randpreason},
		#{transactoruserid})
	</insert>

	<select id="selectAll" resultMap="rAndPInformationMapper">
		select * from tb_hr_randpinformation
		ORDER BY id DESC
	</select>

	<select id="selectByCondition" parameterType="RAndPInformation" resultMap="rAndPInformationMapper">
		select * from tb_hr_randpinformation
		<where>
			<if test="userid!=null and userid!=''">
				and userid=#{userid}
			</if>
			<if test="null!=isreward and !isreward.equals('')">
				and isreward=#{isreward}
			</if>
			<if test="grantunit!=null and grantunit!=''">
				and grantunit=#{grantunit}
			</if>
			<if test="randpproject!=null and randpproject!=''">
				and randpproject=#{randpproject}
			</if>
			<if test="randpdate!=null and randpdate!=''">
				and randpdate=#{randpdate}
			</if>
			<if test="randpsum!=null and randpsum!=''">
				and randpsum=#{randpsum}
			</if>
			<if test="randpreason!=null and randpreason!=''">
				and randpreason=#{randpreason}
			</if>
			<if test="transactoruserid!=null and transactoruserid!=''">
				and transactoruserid=#{transactoruserid}
			</if>
		</where>
		ORDER BY id DESC
	</select>

	<select id="selectOneById" parameterType="java.lang.Integer" resultMap="rAndPInformationMapper">
		select * from tb_hr_randpinformation
		WHERE id = #{_parameter,jdbcType=NUMERIC}
	</select>

	<update id="updateOne" parameterType="RAndPInformation">
		update tb_hr_randpinformation
		<set>
			<if	test="userid!=null and userid!=''">userid=#{userid},</if>
			<if	test="null!=isreward and !isreward.equals('')">isreward=#{isreward},</if>
			<if	test="grantunit!=null and grantunit!=''">grantunit=#{grantunit},</if>
			<if	test="randpproject!=null and randpproject!=''">randpproject=#{randpproject},</if>
			<if	test="randpdate!=null and randpdate!=''">randpdate=#{randpdate},</if>
			<if	test="randpsum!=null and randpsum!=''">randpsum=#{randpsum},</if>
			<if	test="randpreason!=null and randpreason!=''">randpreason=#{randpreason},</if>
			<if	test="transactoruserid!=null and transactoruserid!=''">transactoruserid=#{transactoruserid}</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		delete FROM tb_hr_randpinformation
		WHERE id=#{_parameter,jdbcType=NUMERIC}
	</delete>

</mapper>
