<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetSalarystandardDao">

	<resultMap id="SalarystandardMapper" type="HRsetSalarystandard">
		<id column="id" property="id" />
		<result column="salarystandard" property="salarystandard" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetSalarystandard" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_salarystandard (
			id,
			salarystandard)
		values (
			NULL,
			#{salarystandard})
	</insert>

	<select id="selectAll" resultMap="SalarystandardMapper">
		SELECT * FROM tb_hr_set_salarystandard
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetSalarystandard" resultMap="SalarystandardMapper">
		SELECT * FROM tb_hr_set_salarystandard
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="salarystandard!=null and salarystandard!=''">AND salarystandard=#{salarystandard}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_salarystandard WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_salarystandard
		SET salarystandard=#{salarystandard}
		WHERE id=#{id}
	</update>
</mapper>
