<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetPostlevelDao">

	<resultMap id="PostlevelMapper" type="HRsetPostlevel">
		<id column="id" property="id" />
		<result column="postlevel" property="postlevel" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetPostlevel" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_postlevel (
			id,
			postlevel)
		values (
			NULL,
			#{postlevel})
	</insert>

	<select id="selectAll" resultMap="PostlevelMapper">
		SELECT * FROM tb_hr_set_postlevel
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetPostlevel" resultMap="PostlevelMapper">
		SELECT * FROM tb_hr_set_postlevel
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="postlevel!=null and postlevel!=''">AND postlevel=#{postlevel}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_postlevel WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_postlevel
		SET postlevel=#{postlevel}
		WHERE id=#{id}
	</update>
</mapper>
