<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetPosttitleDao">

	<resultMap id="PosttitleMapper" type="HRsetPosttitle">
		<id column="id" property="id" />
		<result column="posttitle" property="posttitle" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetPosttitle" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_posttitle (
			id,
			posttitle)
		values (
			NULL,
			#{posttitle})
	</insert>

	<select id="selectAll" resultMap="PosttitleMapper">
		SELECT * FROM tb_hr_set_posttitle
	</select>

	<select id="selectByConditions" parameterType="HRsetPosttitle" resultMap="PosttitleMapper">
		SELECT * FROM tb_hr_set_posttitle
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="posttitle!=null and posttitle!=''">AND posttitle=#{posttitle}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_posttitle WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_posttitle
		SET posttitle=#{posttitle}
		WHERE id=#{id}
	</update>
</mapper>
