<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetZyzstypeDao">

	<resultMap id="ZyzstypeMapper" type="HRsetZyzstype">
		<id column="id" property="id" />
		<result column="zyzstype" property="zyzstype" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetZyzstype" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_zyzstype (
			id,
			zyzstype)
		values (
			NULL,
			#{zyzstype})
	</insert>

	<select id="selectAll" resultMap="ZyzstypeMapper">
		SELECT * FROM tb_hr_set_zyzstype
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetZyzstype" resultMap="ZyzstypeMapper">
		SELECT * FROM tb_hr_set_zyzstype
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="zyzstype!=null and zyzstype!=''">AND zyzstype=#{zyzstype}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_zyzstype WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_zyzstype
		SET zyzstype=#{zyzstype}
		WHERE id=#{id}
	</update>
</mapper>
