<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetSsbgrcdDao">

	<resultMap id="SsbgrcdMapper" type="HRsetSsbgrcd">
		<id column="id" property="id" />
		<result column="ssbgrcd" property="ssbgrcd" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetSsbgrcd" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_ssbgrcd (
			id,
			ssbgrcd)
		values (
			NULL,
			#{ssbgrcd})
	</insert>

	<select id="selectAll" resultMap="SsbgrcdMapper">
		SELECT * FROM tb_hr_set_ssbgrcd
	</select>

	<select id="selectByConditions" parameterType="HRsetSsbgrcd" resultMap="SsbgrcdMapper">
		SELECT * FROM tb_hr_set_ssbgrcd
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="ssbgrcd!=null and ssbgrcd!=''">AND ssbgrcd=#{ssbgrcd}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_ssbgrcd WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_ssbgrcd
		SET ssbgrcd=#{ssbgrcd}
		WHERE id=#{id}
	</update>
</mapper>
