<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetGjjgrcdDao">

	<resultMap id="GjjgrcdMapper" type="HRsetGjjgrcd">
		<id column="id" property="id" />
		<result column="gjjgrcd" property="gjjgrcd" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetGjjgrcd" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_gjjgrcd (
			id,
			gjjgrcd)
		values (
			NULL,
			#{gjjgrcd})
	</insert>

	<select id="selectAll" resultMap="GjjgrcdMapper">
		SELECT * FROM tb_hr_set_gjjgrcd
	</select>

	<select id="selectByConditions" parameterType="HRsetGjjgrcd" resultMap="GjjgrcdMapper">
		SELECT * FROM tb_hr_set_gjjgrcd
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="gjjgrcd!=null and gjjgrcd!=''">AND gjjgrcd=#{gjjgrcd}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_gjjgrcd WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_gjjgrcd
		SET gjjgrcd=#{gjjgrcd}
		WHERE id=#{id}
	</update>
</mapper>
