<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetCustomwelfareleaveDao">

	<resultMap id="CustomwelfareleaveMapper" type="HRsetCustomwelfareleave">
		<id column="id" property="id" />
		<result column="customwelfareleave" property="customwelfareleave" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetCustomwelfareleave" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_customwelfareleave (
			id,
			customwelfareleave)
		values (
			NULL,
			#{customwelfareleave})
	</insert>

	<select id="selectAll" resultMap="CustomwelfareleaveMapper">
		SELECT * FROM tb_hr_set_customwelfareleave
	</select>

	<select id="selectByConditions" parameterType="HRsetCustomwelfareleave" resultMap="CustomwelfareleaveMapper">
		SELECT * FROM tb_hr_set_customwelfareleave
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="customwelfareleave!=null and customwelfareleave!=''">AND customwelfareleave=#{customwelfareleave}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_customwelfareleave WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetCustomwelfareleave">
		UPDATE tb_hr_set_customwelfareleave
		SET customwelfareleave=#{customwelfareleave}
		WHERE id=#{id}
	</update>

</mapper>
