<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetPunishmentDao">

	<resultMap id="PunishmentMapper" type="HRsetPunishment">
		<id column="id" property="id" />
		<result column="punishment" property="punishment" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetPunishment" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_punishment (
			id,
			punishment)
		values (
			NULL,
			#{punishment})
	</insert>

	<select id="selectAll" resultMap="PunishmentMapper">
		SELECT * FROM tb_hr_set_punishment
	</select>

	<select id="selectByConditions" parameterType="HRsetPunishment" resultMap="PunishmentMapper">
		SELECT * FROM tb_hr_set_punishment
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="punishment!=null and punishment!=''">AND punishment=#{punishment}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_punishment WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetPunishment">
		UPDATE tb_hr_set_punishment
		SET punishment=#{punishment}
		WHERE id=#{id}
	</update>

</mapper>
