<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IHRsetTeachingstyleDao">

	<resultMap id="TeachingstyleMapper" type="HRsetTeachingstyle">
		<id column="id" property="id" />
		<result column="teachingstyle" property="teachingstyle" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetTeachingstyle" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_teachingstyle (
			id,
			teachingstyle)
		values (
			NULL,
			#{teachingstyle})
	</insert>

	<select id="selectAll" resultMap="TeachingstyleMapper">
		SELECT * FROM tb_hr_set_teachingstyle
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetTeachingstyle" resultMap="TeachingstyleMapper">
		SELECT * FROM tb_hr_set_teachingstyle
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="teachingstyle!=null and teachingstyle!=''">AND teachingstyle=#{teachingstyle}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_teachingstyle WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetTeachingstyle">
		UPDATE tb_hr_set_teachingstyle
		SET teachingstyle=#{teachingstyle}
		WHERE id=#{id}
	</update>

</mapper>
