<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.restructure_hr.IHrdatadictionaryDao">

	<resultMap id="HrdatadictionaryMapper" type="HRset">
		<id column="id" property="id" />
		<result column="datatype" property="datatype" />
		<result column="datacode" property="datacode" />
		<result column="datavalue" property="datavalue" />
	</resultMap>

	<insert id="insertOne" parameterType="HRset" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set (
			id,
			datatype,
			datacode,
			datavalue)
		values (
			NULL,
			#{datatype},
			#{datacode},
			#{datavalue})
	</insert>

</mapper>
