<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr.IHRsetEmployeetypeDao">

	<resultMap id="EmployeetypeMapper" type="HRsetEmployeetype">
		<id column="id" property="id" />
		<result column="employeetype" property="employeetype" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetEmployeetype" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_employeetype (
			id,
			employeetype)
		values (
			NULL,
			#{employeetype})
	</insert>

	<select id="selectAll" resultMap="EmployeetypeMapper">
		SELECT * FROM tb_hr_set_employeetype
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetEmployeetype" resultMap="EmployeetypeMapper">
		SELECT * FROM tb_hr_set_employeetype
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="employeetype!=null and employeetype!=''">AND employeetype=#{employeetype}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_employeetype WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_employeetype
		SET employeetype=#{employeetype}
		WHERE id=#{id}
	</update>
</mapper>
