<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr_shiyun.IHRsetGjjDao">

	<resultMap id="GjjMapper" type="HRsetGjj">
		<id column="id" property="id" />
		<result column="gjj" property="gjj" />
	</resultMap>

	<insert id="insertOne" parameterType="HRsetGjj" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_set_gjj (
			id,
			gjj)
		values (
			NULL,
			#{gjj})
	</insert>

	<select id="selectAll" resultMap="GjjMapper">
		SELECT * FROM tb_hr_set_gjj
		ORDER BY id DESC
	</select>

	<select id="selectByConditions" parameterType="HRsetGjj" resultMap="GjjMapper">
		SELECT * FROM tb_hr_set_gjj
		<where>
			<if test="id!=null and id!=''">AND id=#{id}</if>
			<if test="gjj!=null and gjj!=''">AND gjj=#{gjj}</if>
		</where>
	</select>

	<delete id="deleteOne" parameterType="java.lang.Integer">
		DELETE FROM tb_hr_set_gjj WHERE id=#{id}
	</delete>

	<update id="updateOne" parameterType="HRsetFunctionalType">
		UPDATE tb_hr_set_gjj
		SET gjj=#{gjj}
		WHERE id=#{id}
	</update>
</mapper>
