<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.reportForm.BusinessTravelDao">

    <select id="getBusinessTravelForm" resultType="HashMap">
        SELECT * FROM w_ccsqd1 WHERE (INST_STATUS_ = 'DISCARD_END' || INST_STATUS_ = 'SUCCESS_END' || INST_STATUS_ = 'RUNNING')
            <if test="name != null and name != ''">
                AND F_SQR = #{name}
            </if>
            <if test="startTime != null and startTime != ''">
                AND F_KSCCSJ >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND F_CCJSSJ &lt;= #{endTime}
            </if>
            <if test="projectId != null and projectId != ''">
                AND F_XMBH = #{projectId}
            </if>
            <if test="department != null and department != ''">
                AND F_SZBM = #{department}
            </if>

    </select>

</mapper>