<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.business.IClueDao">

	<resultMap id="ClueMapper" type="Clue">
		<result column="code" property="code" />
		<result column="cluename" property="cluename" />
		<result column="trackid" property="trackid" />
		<result column="resource" property="resource" />
		<result column="createtime" property="createtime" />
		<result column="custom" property="custom" />
		<result column="contact" property="contact" />
		<result column="contactphone" property="contactphone" />
		<result column="owner" property="owner" />
		<result column="sale_employeenumber" property="sale_employeenumber" />
		<result column="scheme_employeenumber" property="scheme_employeenumber" />
		<result column="state" property="state" />
		<result column="clue_price" property="clue_price" />
	</resultMap>

	<select id="selectByCondition" parameterType="Clue" resultMap="ClueMapper">
		select code,cluename,trackid,resource,createtime,custom,contact,contactphone,owner,sale_employeenumber,scheme_employeenumber,state,clue_price
		from tb_business_clue
		<where>
			<if	test="null!=code and ''!=code">AND code=#{code}</if>
			<if	test="null!=cluename and ''!=cluename">AND cluename=#{cluename}</if>
			<if	test="null!=trackid and ''!=trackid">AND trackid=#{trackid}</if>
			<if	test="null!=resource and ''!=resource">AND resource=#{resource}</if>
			<if	test="null!=createtime and ''!=createtime">AND createtime=#{createtime}</if>
			<if	test="null!=custom and ''!=custom">AND custom=#{custom}</if>
			<if	test="null!=contact and ''!=contact">AND contact=#{contact}</if>
			<if	test="null!=contactphone and ''!=contactphone">AND contactphone=#{contactphone}</if>
			<if	test="null!=owner and ''!=owner">AND owner=#{owner}</if>
			<if	test="null!=sale_employeenumber and ''!=sale_employeenumber">AND sale_employeenumber=#{sale_employeenumber}</if>
			<if	test="null!=scheme_employeenumber and ''!=scheme_employeenumber">AND scheme_employeenumber=#{scheme_employeenumber}</if>
			<if	test="null!=state and ''!=state">AND state=#{state}</if>
			<if	test="null!=clue_price and ''!=clue_price">AND clue_price=#{clue_price}</if>
		</where>
	</select>

	<select id="selectByUsername" parameterType="Map" resultMap="ClueMapper">
		SELECT
		clue.`code`,
		clue.cluename,
		clue.trackid,
		clue.resource,
		clue.createtime,
		clue.custom,
		clue.contact,
		clue.contactphone,
		clue.`owner`,
		clue.sale_employeenumber,
		clue.scheme_employeenumber,
		clue.state,
		clue.clue_price,
		clue.participate,
		clue.track_content,
		clue.track_date,
		clue.in_department
		FROM
		tb_business_clue clue
		<where>
			<if test="null!=queryStr and ''!=queryStr">
				AND CONCAT(${queryColumn}) LIKE CONCAT(CONCAT('%',#{queryStr}),'%')
			</if>
            <if	test="null!=code and ''!=code">AND clue.code=#{code}</if>
            <if	test="null!=cluename and ''!=cluename">AND clue.cluename=#{cluename}</if>
            <if	test="null!=trackid and ''!=trackid">AND clue.trackid=#{trackid}</if>
            <if	test="null!=resource and ''!=resource">AND clue.resource=#{resource}</if>
            <if	test="null!=createtime and ''!=createtime">AND clue.createtime=#{createtime}</if>
            <if	test="null!=custom and ''!=custom">AND clue.custom=#{custom}</if>
            <if	test="null!=contact and ''!=contact">AND clue.contact=#{contact}</if>
            <if	test="null!=contactphone and ''!=contactphone">AND clue.contactphone=#{contactphone}</if>
            <if	test="null!=owner and ''!=owner">AND clue.owner=#{owner}</if>
            <if	test="null!=sale_employeenumber and ''!=sale_employeenumber">AND clue.sale_employeenumber=#{sale_employeenumber}</if>
            <if	test="null!=scheme_employeenumber and ''!=scheme_employeenumber">AND clue.scheme_employeenumber=#{scheme_employeenumber}</if>
            <if	test="null!=state and ''!=state">AND clue.state=#{state}</if>
            <if	test="null!=clue_price and ''!=clue_price">AND clue.clue_price=#{clue_price}</if>
		</where>
	</select>

	<select id="selectByClueAndPrincipalUsername" parameterType="Map" resultMap="ClueMapper">
			SELECT
				clue.`code`,
				clue.cluename,
				clue.trackid,
				clue.resource,
				clue.createtime,
				clue.custom,
				clue.contact,
				clue.contactphone,
				clue.`owner`,
				clue.sale_employeenumber,
				clue.scheme_employeenumber,
				clue.state,
				clue.clue_price,
				clue.participate,
				clue.track_content,
				clue.track_date,
				clue.in_department
			FROM
				tb_business_clue clue
		<where>
			clue.sale_employeenumber IN (
				SELECT
					u.employeenumber
				FROM
					tb_id_user u
				JOIN tb_id_personalinformation per ON per.userid = u.id
				JOIN tb_id_department dep ON dep.id = per.depid
				WHERE
					dep.id IN (
						SELECT
							per2.depid
						FROM
							tb_id_personalinformation per2
						JOIN tb_id_user u2 ON u2.id = per2.userid
						WHERE
							u2.username = #{username}
					)
			)
			<if	test="null!=code and ''!=code">AND clue.code=#{code}</if>
			<if	test="null!=cluename and ''!=cluename">AND clue.cluename=#{cluename}</if>
			<if	test="null!=trackid and ''!=trackid">AND clue.trackid=#{trackid}</if>
			<if	test="null!=resource and ''!=resource">AND clue.resource=#{resource}</if>
			<if	test="null!=createtime and ''!=createtime">AND clue.createtime=#{createtime}</if>
			<if	test="null!=custom and ''!=custom">AND clue.custom=#{custom}</if>
			<if	test="null!=contact and ''!=contact">AND clue.contact=#{contact}</if>
			<if	test="null!=contactphone and ''!=contactphone">AND clue.contactphone=#{contactphone}</if>
			<if	test="null!=owner and ''!=owner">AND clue.owner=#{owner}</if>
			<if	test="null!=sale_employeenumber and ''!=sale_employeenumber">AND clue.sale_employeenumber=#{sale_employeenumber}</if>
			<if	test="null!=scheme_employeenumber and ''!=scheme_employeenumber">AND clue.scheme_employeenumber=#{scheme_employeenumber}</if>
			<if	test="null!=state and ''!=state">AND clue.state=#{state}</if>
			<if	test="null!=clue_price and ''!=clue_price">AND clue.clue_price=#{clue_price}</if>
			<if test="null!=queryStr and ''!=queryStr">
				AND CONCAT(${queryColumn}) LIKE CONCAT(CONCAT('%',#{queryStr}),'%')
			</if>
		</where>
	</select>

	<select id="getUpdateTime" resultType="java.lang.String">
		SELECT track_date FROM tb_business_track WHERE dependence_code = #{dependenceCode} ORDER BY track_date DESC LIMIT 1
	</select>

    <select id="getRelativeEvent" resultType="java.lang.String">
		SELECT * FROM tb_business_opportunity WHERE
		<if test="code != null">
			code = #{code}
		</if>
		<if test="clueid != null">
			clueid = #{clueid}
		</if>
	</select>

	<select id="fuzzyQueryClue" resultType="HashMap">
		SELECT * FROM tb_business_clue WHERE CONCAT(${queryColumn}) LIKE CONCAT(CONCAT('%',#{queryStr}),'%')
	</select>

	<select id="fuzzyQueryOpportunity" resultType="HashMap">
		SELECT * FROM tb_business_opportunity WHERE CONCAT(${queryColumn}) LIKE CONCAT(CONCAT('%',#{queryStr}),'%')
	</select>
</mapper>
