<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.hr.IDeptDao">

	<resultMap id="deptMapper" type="Dept">
		<id column="id" property="id" />
		<result column="companyname" property="companyname" />
		<result column="depname" property="depname" />
		<result column="depcode" property="depcode" />
		<result column="functionaltypeid" property="functionaltypeid" />
		<result column="dutydescription" property="dutydescription" />
		<result column="parentdepid" property="parentdepid" />
		<result column="principaluserid" property="principaluserid" />
		<result column="deputyuserid" property="deputyuserid" />
		<result column="secretaryuserid" property="secretaryuserid" />
		<result column="depdescription" property="depdescription" />
		<result column="state" property="state" />
		<result column="ordercode" property="ordercode" />
		<result column="deptypeid" property="deptypeid" />
	</resultMap>

	<select id="selectDeptByDeptname" parameterType="java.lang.String" resultMap="deptMapper">
		select * from tb_id_department
		where depname = #{depname} and state=1
	</select>
	<select id="selectDeptByLikeDeptname" parameterType="java.lang.String" resultMap="deptMapper">
		select * from tb_id_department
		where depname like CONCAT(CONCAT('%',#{depname},'%')) and state=1
	</select>

	<select id="selectAllDepnames" resultType="java.lang.String">
		select depname from tb_id_department where state=1
	</select>

	<select id="selectDeptByDeptcode" parameterType="java.lang.String" resultMap="deptMapper">
		select * from tb_id_department
		where depcode = #{depcode} and state=1
		ORDER BY ordercode
	</select>

	<select id="selectDeptByDeptcode2" parameterType="java.lang.String" resultMap="deptMapper">
		select * from tb_id_department
		where depcode LIKE CONCAT(CONCAT('%',#{depcode},'%')) and state=1
	</select>

	<select id="selectDeptByDeptypeid" parameterType="java.lang.Integer" resultMap="deptMapper">
		select * from tb_id_department
		where deptypeid =#{deptypeid} and state=1
	</select>

	<select id="selectDeptByCompanyname" parameterType="java.lang.String" resultMap="deptMapper">
		select * from tb_id_department
		where companyname =#{companyname} and state=1
	</select>

	<select id="selectDeptByDepid" parameterType="java.lang.Integer" resultMap="deptMapper">
		select * from tb_id_department
		where id = #{id} and state=1
		ORDER BY ordercode
	</select>

	<select id="selectAllDept" resultMap="deptMapper">
		select * from tb_id_department
		WHERE state=1
		ORDER BY ordercode
	</select>

	<select id="selectByParentId" parameterType="java.lang.Integer" resultMap="deptMapper">
		select * from tb_id_department
		<where>
			<if test="_parameter!=null and _parameter!=''">
				parentdepid = #{_parameter,jdbcType=INTEGER}
			</if>
			<if test="_parameter==null or _parameter==''">
				 parentdepid is null
			</if>
			and state=1
		</where>
		ORDER BY ordercode
	</select>

	<insert id="insertOne" parameterType="Dept" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_department
		(id,
		companyname,
		depname,
		depcode,
		functionaltypeid,
		dutydescription,
		parentdepid,
		principaluserid,
		deputyuserid,
		secretaryuserid,
		depdescription,
		state,
		ordercode,
		deptypeid
		)
		VALUES
		(NULL ,
		#{companyname},
		#{depname},
		#{depcode},
		#{functionaltypeid},
		#{dutydescription},
		#{parentdepid},
		#{principaluserid},
		#{deputyuserid},
		#{secretaryuserid},
		#{depdescription},
		1,0,#{deptypeid})
	</insert>

	<update id="updateOne" parameterType="Dept" >
		UPDATE tb_id_department
		<set>
			<if test="depname!=null and depname!=''">depname=#{depname},</if>
			<if test="depcode!=null and depcode!=''">depcode=#{depcode},</if>
			<if test="functionaltypeid!=null and functionaltypeid!=''">functionaltypeid=#{functionaltypeid},</if>
			<if test="parentdepid!=null and parentdepid!=''">parentdepid=#{parentdepid},</if>
			<if test="principaluserid!=null and principaluserid!=''">principaluserid=#{principaluserid},</if>
			<if test="principaluserid==null or principaluserid==''">principaluserid=NULL,</if>
			<if test="deputyuserid!=null and deputyuserid!=''">deputyuserid=#{deputyuserid},</if>
			<if test="deputyuserid==null or deputyuserid==''">deputyuserid=NULL,</if>
			<if test="secretaryuserid!=null and secretaryuserid!=''">secretaryuserid=#{secretaryuserid},</if>
			<if test="secretaryuserid==null or secretaryuserid==''">secretaryuserid=NULL,</if>
			<if test="dutydescription!=null and dutydescription!=''">dutydescription=#{dutydescription},</if>
			<if test="depdescription!=null and depdescription!=''">depdescription=#{depdescription},</if>
			<if test="ordercode!=null and ordercode!=''">ordercode=#{ordercode},</if>
			<if test="deptypeid!=null and deptypeid!=''">deptypeid=#{deptypeid},</if>
		</set>
		WHERE id=#{id}
	</update>

	<update id="updateByDeleteUser" parameterType="Dept" >
		UPDATE tb_id_department
		<set>
			<if test="principaluserid!=null and principaluserid!=''">principaluserid=NULL ,</if>
			<if test="deputyuserid!=null and deputyuserid!=''">deputyuserid=NULL,</if>
			<if test="secretaryuserid!=null and secretaryuserid!=''">secretaryuserid=NULL</if>
		</set>
		WHERE id=#{id}
	</update>

	<update id="deleteOne" parameterType="java.lang.Integer">
		UPDATE tb_id_department
		SET state=0
		WHERE id=#{_parameter,jdbcType=NUMERIC}
	</update>

	<select id="selectDeptsByDept" parameterType="Dept" resultMap="deptMapper">
		select * from tb_id_department
		<where>
			<if test="depname!=null and depname!=''"> and depname=#{depname}</if>
			<if test="depcode!=null and depcode!=''"> and depcode=#{depcode}</if>
			<if test="functionaltypeid!=null and functionaltypeid!=''"> and functionaltypeid=#{functionaltypeid}</if>
			<if test="dutydescription!=null and dutydescription!=''"> and dutydescription=#{dutydescription}</if>
			<if test="parentdepid!=null and parentdepid!=''"> and parentdepid=#{parentdepid}</if>
			<if test="principaluserid!=null and principaluserid!=''"> and principaluserid=#{principaluserid}</if>
			<if test="deputyuserid!=null and deputyuserid!=''"> and deputyuserid=#{deputyuserid}</if>
			<if test="secretaryuserid!=null and secretaryuserid!=''"> and secretaryuserid=#{secretaryuserid}</if>
			<if test="deptypeid!=null and deptypeid!=''"> and deptypeid=#{deptypeid}</if>
			and state=1
		</where>
		ORDER BY ordercode
	</select>
</mapper>
