<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IBaseInformationDao">

	<resultMap id="BaseInformationResultMap" type="BaseInformation">
		<id column="id" property="id" />
		<result column="userphoto" property="userphoto" />
		<result column="idphoto1" property="idphoto1" />
		<result column="idphoto2" property="idphoto2" />
		<result column="englishname" property="englishname" />
		<result column="idcode" property="idcode" />
		<result column="birthday" property="birthday" />
		<result column="constellation" property="constellation" />
		<result column="chinesecs" property="chinesecs" />
		<result column="raceid" property="raceid" />
		<result column="marriage" property="marriage" />
		<result column="childrenid" property="childrenid" />
		<result column="zzmmid" property="zzmmid" />
		<result column="zgxlid" property="zgxlid" />
		<result column="byyxid" property="byyxid" />
		<result column="sxzyid" property="sxzyid" />
		<result column="pyfsid" property="pyfsid" />
		<result column="firstlsid" property="firstlsid" />
		<result column="elselaid" property="elselaid" />
		<result column="posttitleid" property="posttitleid" />
		<result column="zyzstypeid" property="zyzstypeid" />
		<result column="zyzsnameid" property="zyzsnameid" />
		<result column="firstworkingtime" property="firstworkingtime" />
		<result column="parentcompanyid" property="parentcompanyid" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseInformationResultMap">
		SELECT
			*
		FROM
			tb_id_baseinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" parameterType="BaseInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_baseinformation (
			id,
			userphoto,
			idphoto1,
			idphoto2,
			englishname,
			idcode,
			birthday,
			constellation,
			chinesecs,
			raceid,
			marriage,
			childrenid,
			zzmmid,
			zgxlid,
			byyxid,
			sxzyid,
			pyfsid,
			firstlaid,
			elselaid,
			posttitleid,
			zyzstypeid,
			zyzsnameid,
			firstworkingtime,
			parentcompanyid)
		values (
			null,
		 	#{userphoto},
		 	#{idphoto1},
		 	#{idphoto2},
		 	#{englishname},
		 	#{idcode},
		 	#{birthday},
		 	#{constellation},
		 	#{chinesecs},
		 	#{raceid},
		 	#{marriage},
		 	#{childrenid},
		 	#{zzmmid},
		 	#{zgxlid},
		 	#{byyxid},
		 	#{sxzyid},
		 	#{pyfsid},
		 	#{firstlaid},
		 	#{elselaid},
		 	#{zyzstypeid},
		 	#{posttitleid},
		 	#{zyzsnameid},
		 	#{firstworkingtime},
  			#{parentcompanyid})
	</insert>

	<update id="updateOne" parameterType="BaseInformation" >
		update tb_id_baseinformation
		<set>
			<if test="userphoto!=null and userphoto!=''">userphoto=#{userphoto},</if>
			<if test="idphoto1!=null and idphoto1!=''">idphoto1=#{idphoto1},</if>
			<if test="idphoto2!=null and idphoto2!=''">idphoto2=#{idphoto2},</if>
			<if test="englishname!=null and englishname!=''">englishname=#{englishname},</if>
			<if test="idcode!=null and idcode!=''">idcode=#{idcode},</if>
			<if test="birthday!=null and birthday!=''">birthday=#{birthday},</if>
			<if test="constellation!=null and constellation!=''">constellation=#{constellation},</if>
			<if test="chinesecs!=null and chinesecs!=''">chinesecs=#{chinesecs},</if>
			<if test="raceid!=null and raceid!=''">raceid=#{raceid},</if>
			<if test="marriage!=null and marriage!=''">marriage=#{marriage},</if>
			<if test="childrenid!=null and childrenid!=''">childrenid=#{childrenid},</if>
			<if test="zzmmid!=null and zzmmid!=''">zzmmid=#{zzmmid},</if>
			<if test="zgxlid!=null and zgxlid!=''">zgxlid=#{zgxlid},</if>
			<if test="byyxid!=null and byyxid!=''">byyxid=#{byyxid},</if>
			<if test="sxzyid!=null and sxzyid!=''">sxzyid=#{sxzyid},</if>
			<if test="pyfsid!=null and pyfsid!=''">pyfsid=#{pyfsid},</if>
			<if test="firstlaid!=null and firstlaid!=''">firstlaid=#{firstlaid},</if>
			<if test="elselaid!=null and elselaid!=''">elselaid=#{elselaid},</if>
			<if test="zyzstypeid!=null and zyzstypeid!=''">zyzstypeid=#{zyzstypeid},</if>
			<if test="posttitleid!=null and posttitleid!=''">posttitleid=#{posttitleid},</if>
			<if test="zyzsnameid!=null and zyzsnameid!=''">zyzsnameid=#{zyzsnameid},</if>
			<if test="firstworkingtime!=null and firstworkingtime!=''">firstworkingtime=#{firstworkingtime},</if>
			<if test="parentcompanyid!=null and parentcompanyid!=''">parentcompanyid=#{parentcompanyid},</if>
		</set>
		WHERE id=#{id}
	</update>

</mapper>
