<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IBaseInformationDao">

	<resultMap id="BaseInformationResultMap" type="BaseInformation">
		<id column="id" property="id" />
		<result column="bloodtype" property="bloodtype" />
		<result column="marriage" property="marriage" />
		<result column="englishname" property="englishname" />
		<result column="race" property="race" />
		<result column="idcode" property="idcode" />
		<result column="hktype" property="hktype" />
		<result column="birthday" property="birthday" />
		<result column="zzmm" property="zzmm" />
		<result column="bysj" property="bysj" />
		<result column="hkszd" property="hkszd" />
		<result column="constellation" property="constellation" />
		<result column="zgxl" property="zgxl" />
		<result column="nationality" property="nationality" />
		<result column="byyx" property="byyx" />
		<result column="sxzy" property="sxzy" />
		<result column="pyfs" property="pyfs" />
		<result column="firstla" property="firstla" />
		<result column="secondla" property="secondla" />
		<result column="thirdla" property="thirdla" />
		<result column="elsela" property="elsela" />
		<result column="zyzstype" property="zyzstype" />
		<result column="zyzs" property="zyzs" />
		<result column="zyzscp" property="zyzscp" />
		<result column="firstworkingtime" property="firstworkingtime" />
		<result column="sbdd" property="sbdd" />
		<result column="parentcompany" property="parentcompany" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseInformationResultMap">
		SELECT
			*
		FROM
			tb_id_baseinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" parameterType="BaseInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_baseinformation (
			id,
			bloodtype,
			marriage,
			englishname,
			race,
			idcode,
			hktype,
			birthday,
			zzmm,
			bysj,
			hkszd,
			constellation,
			zgxl,
			nationality,
			byyx,
			sxzy,
			pyfs,
			firstla,
			secondla,
			thirdla,
			elsela,
			zyzstype,
			zyzs,
			zyzscp,
			firstworkingtime,
			sbdd,
			parentcompany)
		values (
			null,
		 	#{bloodtype},
		 	#{marriage},
		 	#{englishname},
		 	#{race},
		 	#{idcode},
		 	#{hktype},
		 	#{birthday},
		 	#{zzmm},
		 	#{bysj},
		 	#{hkszd},
		 	#{constellation},
		 	#{zgxl},
		 	#{nationality},
		 	#{byyx},
		 	#{sxzy},
		 	#{pyfs},
		 	#{firstla},
		 	#{secondla},
		 	#{thirdla},
		 	#{elsela},
		 	#{zyzstype},
		 	#{zyzs},
		 	#{zyzscp},
		 	#{firstworkingtime},
		 	#{sbdd},
  			#{parentcompany})
	</insert>

	<update id="updateOne" parameterType="BaseInformation" >
		update tb_id_baseinformation
		<set>
			<if test="bloodtype!=null and bloodtype!=''">
				bloodtype=#{bloodtype},
			</if>
			<if test="marriage!=null and marriage!=''">
				marriage=#{marriage},
			</if>
			<if test="englishname!=null and englishname!=''">
				englishname=#{englishname},
			</if>
			<if test="race!=null and race!=''">
				race=#{race},
			</if>
			<if test="idcode!=null and idcode!=''">
				idcode=#{idcode},
			</if>
			<if test="hktype!=null and hktype!=''">
				hktype=#{hktype},
			</if>
			<if test="birthday!=null and birthday!=''">
				birthday=#{birthday},
			</if>
			<if test="zzmm!=null and zzmm!=''">
				zzmm=#{zzmm},
			</if>
			<if test="bysj!=null and bysj!=''">
				bysj=#{bysj},
			</if>
			<if test="hkszd!=null and hkszd!=''">
				hkszd=#{hkszd},
			</if>
			<if test="constellation!=null and constellation!=''">
				constellation=#{constellation},
			</if>
			<if test="zgxl!=null and zgxl!=''">
				zgxl=#{zgxl},
			</if>
			<if test="nationality!=null and nationality!=''">
				nationality=#{nationality},
			</if>
			<if test="byyx!=null and byyx!=''">
				byyx=#{byyx},
			</if>
			<if test="sxzy!=null and sxzy!=''">
				sxzy=#{sxzy},
			</if>
			<if test="pyfs!=null and pyfs!=''">
				pyfs=#{pyfs},
			</if>
			<if test="firstla!=null and firstla!=''">
				firstla=#{firstla},
			</if>
			<if test="secondla!=null and secondla!=''">
				secondla=#{secondla},
			</if>
			<if test="thirdla!=null and thirdla!=''">
				thirdla=#{thirdla},
			</if>
			<if test="elsela!=null and elsela!=''">
				elsela=#{elsela},
			</if>
			<if test="zyzstype!=null and zyzstype!=''">
				zyzstype=#{zyzstype},
			</if>
			<if test="zyzs!=null and zyzs!=''">
				zyzs=#{zyzs},
			</if>
			<if test="zyzscp!=null and zyzscp!=''">
				zyzscp=#{zyzscp},
			</if>
			<if test="firstworkingtime!=null and firstworkingtime!=''">
				firstworkingtime=#{firstworkingtime},
			</if>
			<if test="sbdd!=null and sbdd!=''">
				sbdd=#{sbdd},
			</if>
			<if test="parentcompany!=null and parentcompany!=''">
				parentcompany=#{parentcompany}
			</if>
		</set>
		WHERE id=#{id}
	</update>

</mapper>
