<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.IBpmDefDao">
    <resultMap id="BaseResultMap" type="BpmDef">
        <id property="defId" column="DEF_ID_" jdbcType="VARCHAR"/>
        <result property="treeId" column="TREE_ID_" jdbcType="VARCHAR"/>
        <result property="subject" column="SUBJECT_" jdbcType="VARCHAR"/>
        <result property="descp" column="DESCP_" jdbcType="VARCHAR"/>
        <result property="key" column="KEY_" jdbcType="VARCHAR"/>
        <result property="actDefId" column="ACT_DEF_ID_" jdbcType="VARCHAR"/>
        <result property="actDepId" column="ACT_DEP_ID_" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS_" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION_" jdbcType="INTEGER"/>
        <result property="isMain" column="IS_MAIN_" jdbcType="VARCHAR"/>
        <result property="setting" column="SETTING_" jdbcType="VARCHAR"/>
        <result property="modelId" column="MODEL_ID_" jdbcType="VARCHAR"/>
        <result property="mainDefId" column="MAIN_DEF_ID_" jdbcType="VARCHAR"/>
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
          DEF_ID_,
          TREE_ID_,
          SUBJECT_,
          DESCP_,
          KEY_,
          ACT_DEF_ID_,
          ACT_DEP_ID_,
          STATUS_,
          VERSION_,
          IS_MAIN_,
          SETTING_,
          MODEL_ID_,
          MAIN_DEF_ID_,
          TENANT_ID_,
          CREATE_BY_,
          DATE_FORMAT(CREATE_TIME_, '%Y-%c-%d %h:%i:%s') as CREATE_TIME_,
          UPDATE_BY_,
          UPDATE_TIME_
        FROM bpm_def
        <where>
            <if test="treeId != null and treeId != ''">
                and  TREE_ID_ = #{treeId}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and  TENANT_ID_ = #{tenantId}
            </if>
            <if test="subject != null and subject != ''">
                and  SUBJECT_ like concat(concat('%',#{subject}),'%')
            </if>
            <if test="key != null and key != ''">
                and  KEY_ = like concat(concat('%',#{key}),'%')
            </if>
            <if test="status != null and status != ''">
                and  STATUS_ = #{status}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY DEF_ID_ ASC
        </if>
    </select>

    <select id="getByDefId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
          *
        FROM  bpm_def

        WHERE
            DEF_ID_=#{defId}
    </select>

    <select id="getByActDefId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        *
        FROM  bpm_def

        WHERE
        ACT_DEF_ID_ = #{actDefId}
    </select>


    <select id="getLatestBpmByKey"  parameterType="java.util.Map" resultMap="BaseResultMap">
       SELECT
          *
        FROM  bpm_def
        <where>
            <if test="tenantId != null and tenantId != ''">
                and  TENANT_ID_ = #{tenantId}
            </if>
            <if test="key != null and key != ''">
                and  KEY_ = #{key}
            </if>
            <if test="status != null and status != ''">
                and  STATUS_ = #{status}
            </if>
            <if test="isMain != null and isMain != ''">
                and  IS_MAIN_ = #{isMain}
            </if>
        </where>
    </select>

    <update id="updateIsMainByMailDefId" parameterType="java.util.Map">
        UPDATE bpm_def SET
        IS_MAIN_ = #{isMain,jdbcType=VARCHAR},
        WHERE
        MAIN_DEF_ID_=#{mainDefId,jdbcType=VARCHAR}
    </update>

    <select id="getMaxVersions"  parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        max(VERSION_)
        FROM  bpm_def
         WHERE
          TENANT_ID_ = #{tenantId}
          AND
          KEY_ =#{key}
    </select>

    <select id="getCountByKey"  resultType="java.lang.Integer">
        SELECT count(*) FROM bpm_def WHERE KEY_=#{key,jdbcType=VARCHAR}
        and TENANT_ID_=#{tenantId,jdbcType=VARCHAR}
    </select>

    <select id="getCountByKeyAndId"  resultType="java.lang.Integer">
        SELECT count(*) FROM bpm_def WHERE KEY_=#{key,jdbcType=VARCHAR}
        and DEF_ID_=#{defId}
    </select>


    <select id="getByKey"  resultMap="BaseResultMap">
        SELECT * FROM bpm_def WHERE KEY_=#{key,jdbcType=VARCHAR}
        and TENANT_ID_=#{tenantId,jdbcType=VARCHAR} and STATUS_='DEPLOYED'
    </select>

    <select id="getMaxVersion"  parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT MAX(VERSION_) FROM bpm_def WHERE TENANT_ID_ = #{tenantId,jdbcType=VARCHAR} AND KEY_=#{key,jdbcType=VARCHAR} and STATUS_=#{status,jdbcType=VARCHAR}
    </select>



</mapper>