<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.IBpmFormViewDao">
    <resultMap id="BaseResultMap" type="BpmFormView">
        <id property="viewId" column="VIEW_ID_" jdbcType="VARCHAR"/>
        <result property="treeId" column="TREE_ID_" jdbcType="VARCHAR"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="key" column="KEY_" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE_" jdbcType="VARCHAR"/>
        <result property="renderUrl" column="RENDER_URL_" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION_" jdbcType="NUMERIC"/>
        <result property="title" column="TITLE_" jdbcType="VARCHAR"/>
        <result property="isMain" column="IS_MAIN_" jdbcType="VARCHAR"/>
        <result property="mainViewId" column="MAIN_VIEW_ID_" jdbcType="VARCHAR"/>
        <result property="descp" column="DESCP_" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS_" jdbcType="VARCHAR"/>
        <result property="isBindMd" column="IS_BIND_MD_" jdbcType="VARCHAR"/>
        <result property="templateView" column="TEMPLATE_VIEW_" jdbcType="CLOB"/>
        <result property="template" column="TEMPLATE_" jdbcType="CLOB"/>
        <result property="templateId" column="TEMPLATE_ID_" jdbcType="VARCHAR"/>
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
        <result property="boDefId" column="BO_DEFID_" jdbcType="VARCHAR"/>
        <result property="buttonDef" column="BUTTON_DEF_" jdbcType="VARCHAR"/>
        <result property="displayType" column="DISPLAY_TYPE_" jdbcType="VARCHAR"/>
        <result property="pdfTemp" column="PDF_TEMP_" jdbcType="CLOB"/>
    </resultMap>

    <insert id="create" parameterType="BpmFormView">
        INSERT INTO bpm_form_view
        (VIEW_ID_,TREE_ID_,NAME_,KEY_,TYPE_,RENDER_URL_,VERSION_,IS_MAIN_,MAIN_VIEW_ID_,DESCP_,STATUS_,IS_BIND_MD_,TEMPLATE_VIEW_,TEMPLATE_,
        TEMPLATE_ID_,TENANT_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_,BO_DEFID_,TITLE_,BUTTON_DEF_,DISPLAY_TYPE_,PDF_TEMP_)
        VALUES
        (#{viewId,jdbcType=VARCHAR}, #{treeId,jdbcType=VARCHAR},  #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{renderUrl,jdbcType=VARCHAR},
        #{version,jdbcType=NUMERIC}, #{isMain,jdbcType=VARCHAR}, #{mainViewId,jdbcType=VARCHAR}, #{descp,jdbcType=CLOB}, #{status,jdbcType=VARCHAR},
        #{isBindMd,jdbcType=VARCHAR}, #{templateView,jdbcType=CLOB},#{template,jdbcType=CLOB}, #{templateId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},#{boDefId,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{buttonDef,jdbcType=VARCHAR},#{displayType,jdbcType=VARCHAR},#{pdfTemp,jdbcType=CLOB})
    </insert>

    <select id="getById"   parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM bpm_form_view
        WHERE
        VIEW_ID_=#{viewId}
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT VIEW_ID_,TREE_ID_,NAME_,KEY_,TYPE_,RENDER_URL_,VERSION_,IS_MAIN_,MAIN_VIEW_ID_,
        DESCP_,STATUS_,IS_BIND_MD_,TEMPLATE_ID_,TENANT_ID_,CREATE_BY_,
        CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_,BO_DEFID_,BUTTON_DEF_,DISPLAY_TYPE_ FROM bpm_form_view
        <where>
            <if test="whereSql!=null">
                and ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY VIEW_ID_ DESC
        </if>
    </select>

    <select id="getByFilter" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT VIEW_ID_,TREE_ID_,NAME_,KEY_,TYPE_,RENDER_URL_,VERSION_,IS_MAIN_,MAIN_VIEW_ID_,
        DESCP_,STATUS_,IS_BIND_MD_,TEMPLATE_ID_,TENANT_ID_,CREATE_BY_,
        CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_,BO_DEFID_,BUTTON_DEF_,DISPLAY_TYPE_,PDF_TEMP_ FROM bpm_form_view
        where TENANT_ID_=#{tenantId}

        <choose>
            <when test="@Ognl@isNotEmpty(boDefIds)">
                and BO_DEFID_ in <foreach collection="boDefIds" index="index" item="item"
                                          open="(" separator="," close=")">
                #{item}
            </foreach>


            </when>
            <otherwise>
                and TYPE_='SEL-DEV'
            </otherwise>
        </choose>
        <if test="@Ognl@isNotEmpty(STATUS_)">
            and STATUS_=#{STATUS_}
        </if>

        <if test="@Ognl@isNotEmpty(NAME_)">
            and NAME_ like #{NAME_}
        </if>

        <if test="@Ognl@isNotEmpty(KEY_)">
            and KEY_ like #{KEY_}
        </if>

        and IS_MAIN_='YES'


        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY VIEW_ID_ DESC
        </if>
    </select>

    <update id="update" parameterType="BpmFormView">
        UPDATE bpm_form_view SET
        TREE_ID_=#{treeId,jdbcType=VARCHAR},
        NAME_=#{name,jdbcType=VARCHAR},
        TITLE_=#{title,jdbcType=VARCHAR},
        KEY_=#{key,jdbcType=VARCHAR},
        TYPE_=#{type,jdbcType=VARCHAR},
        TEMPLATE_VIEW_=#{templateView,jdbcType=CLOB},
        TENANT_ID_=#{tenantId,jdbcType=VARCHAR},
        DISPLAY_TYPE_=#{displayType,jdbcType=VARCHAR},
        UPDATE_TIME_=#{updateTime,jdbcType=TIMESTAMP}
        WHERE
        VIEW_ID_=#{viewId}
    </update>

    <delete id="remove" parameterType="java.lang.String">
        DELETE FROM bpm_form_view
        WHERE
        VIEW_ID_=#{viewId}
    </delete>

    <select id="getCountByAlias"  resultType="java.lang.Integer"  >
        SELECT count(*) FROM bpm_form_view
        WHERE KEY_=#{key,jdbcType=VARCHAR}
        and TENANT_ID_=#{tenantId,jdbcType=VARCHAR}

    </select>

    <select id="getByTreeFilter" resultMap="BaseResultMap">
        SELECT VIEW_ID_,TREE_ID_,NAME_,KEY_,TYPE_,RENDER_URL_,VERSION_,IS_MAIN_,MAIN_VIEW_ID_,
        DESCP_,STATUS_,IS_BIND_MD_,TEMPLATE_ID_,TENANT_ID_,CREATE_BY_,
        CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_,BO_DEFID_,BUTTON_DEF_,DISPLAY_TYPE_
        FROM bpm_form_view
        <where>
            <if test="whereSql!=null">
                and ${whereSql}
            </if>
            and TREE_ID_ in <foreach collection="list" item="treeId" separator=","  open="(" close=")">#{treeId}</foreach>
        </where>


        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY CREATE_TIME_ DESC
        </if>
    </select>

    <select id="getByTreeFilterNew" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
            VIEW_ID_,
            TREE_ID_,
            NAME_,KEY_,
            case when TYPE_ = 'ONLINE-DESIGN' then '在线表单'
            when TYPE_ = 'URL' then '自定义表单'
            else '其他' end as TYPE_,
            RENDER_URL_,
            VERSION_,
            IS_MAIN_,
            MAIN_VIEW_ID_,
            DESCP_,
            STATUS_,
            IS_BIND_MD_,
            TEMPLATE_ID_,
            TENANT_ID_,
            CREATE_BY_,
            DATE_FORMAT(CREATE_TIME_, '%Y-%c-%d %h:%i:%s') as CREATE_TIME_,
            UPDATE_BY_,
            UPDATE_TIME_,
            BO_DEFID_,
            BUTTON_DEF_,
            DISPLAY_TYPE_
        FROM bpm_form_view
        <where>
            <if test="treeId != null and treeId != ''">
                and  TREE_ID_ = #{treeId}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and  TENANT_ID_ = #{tenantId}
            </if>
            <if test="name != null and name != ''">
                and  NAME_ like concat(concat('%',#{name}),'%')
            </if>
            <if test="key != null and key != ''">
                and  KEY_ like concat(concat('%',#{key}),'%')
            </if>
            <if test="type != null and type != ''">
                and  TYPE_ = #{type}
            </if>
            <if test="status != null and status != ''">
                and  STATUS_ = #{status}
            </if>
        </where>


        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY UPDATE_TIME_ DESC
        </if>
    </select>

    <select id="getByBoId" resultMap="BaseResultMap">
        SELECT VIEW_ID_,TREE_ID_,NAME_,KEY_,TYPE_,RENDER_URL_,VERSION_,IS_MAIN_,MAIN_VIEW_ID_,
        DESCP_,STATUS_,IS_BIND_MD_,TEMPLATE_ID_,TENANT_ID_,CREATE_BY_,
        CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_,BO_DEFID_,DISPLAY_TYPE_
        FROM bpm_form_view
        WHERE BO_DEFID_=#{boDefId}
    </select>

    <select id="getMainByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM  bpm_form_view WHERE  TENANT_ID_ = #{tenantId} and  KEY_=#{key} and IS_MAIN_='YES'
    </select>



    <update id="removeBoDef"  >
        UPDATE bpm_form_view SET BO_DEFID_=null WHERE  BO_DEFID_=#{boDefId}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select * from bpm_form_view
    </select>

    <delete id="deleteForm" parameterType="java.util.List">
        delete from bpm_form_view where VIEW_ID_ in
        <foreach collection="list" item = "model" open="(" separator="," close=")">#{model}

        </foreach>
    </delete>
</mapper>