<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.ICostInformationDao">

	<resultMap id="CostInformationResultMap" type="CostInformation">
		<id column="id" property="id" />
		<result column="costtype" property="costtype" />
		<result column="costcode" property="costcode" />
		<result column="salary" property="salary" />
		<result column="accumulationfund" property="accumulationfund" />
		<result column="gscdylbx" property="gscdylbx" />
		<result column="grcdylbx" property="grcdylbx" />
		<result column="gscdgjj" property="gscdgjj" />
		<result column="grcdgjj" property="grcdgjj" />
		<result column="gscdsybx" property="gscdsybx" />
		<result column="grcdsybx" property="grcdsybx" />
		<result column="gscdylbx2" property="gscdylbx2" />
		<result column="grcdylbx2" property="grcdylbx2" />
		<result column="shengyubx" property="shengyubx" />
		<result column="gsbx" property="gsbx" />
		<result column="salarykhh" property="salarykhh" />
		<result column="salaryaccount" property="salaryaccount" />
		<result column="sbjnd" property="sbjnd" />
		<result column="sbcode" property="sbcode" />
	</resultMap>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="CostInformationResultMap">
		SELECT
			*
		FROM
			tb_id_costinformation
		WHERE
			id=#{id}
	</select>

	<insert id="insertOne" useGeneratedKeys="true" parameterType="CostInformation" keyProperty="id">
		insert into tb_id_costinformation(
			id,
			costtype,
			costcode,
			salary,
			accumulationfund,
			gscdylbx,
			grcdylbx,
			gscdgjj,
			grcdgjj,
			gscdsybx,
			grcdsybx,
			gscdylbx2,
			grcdylbx2,
			shengyubx,
			gsbx,
			salarykhh,
			salaryaccount,
			sbjnd,
			sbcode)
		values(
			NULL ,
			#{costtype},
			#{costcode},
			#{salary},
			#{accumulationfund},
			#{gscdylbx},
			#{grcdylbx},
			#{gscdgjj},
			#{grcdgjj},
			#{gscdsybx},
			#{grcdsybx},
			#{gscdylbx2},
			#{grcdylbx2},
			#{shengyubx},
			#{gsbx},
			#{salarykhh},
			#{salaryaccount},
			#{sbjnd},
			#{sbcode})
	</insert>

	<update id="updateOne" parameterType="CostInformation" >
		update tb_id_costinformation
		<set>
			<if test="costtype!=null and costtype!=''">costtype=#{costtype},</if>
			<if test="costcode!=null and costcode!=''">costcode=#{costcode},</if>
			<if test="salary!=null and salary!=''">salary=#{salary},</if>
			<if test="accumulationfund!=null and accumulationfund!=''">accumulationfund=#{accumulationfund},</if>
			<if test="gscdylbx!=null and gscdylbx!=''">gscdylbx=#{gscdylbx},</if>
			<if test="grcdylbx!=null and grcdylbx!=''">grcdylbx=#{grcdylbx},</if>
			<if test="gscdgjj!=null and gscdgjj!=''">gscdgjj=#{gscdgjj},</if>
			<if test="grcdgjj!=null and grcdgjj!=''">grcdgjj=#{grcdgjj},</if>
			<if test="gscdsybx!=null and gscdsybx!=''">gscdsybx=#{gscdsybx},</if>
			<if test="grcdsybx!=null and grcdsybx!=''">grcdsybx=#{grcdsybx},</if>
			<if test="gscdylbx2!=null and gscdylbx2!=''">gscdylbx2=#{gscdylbx2},</if>
			<if test="grcdylbx2!=null and grcdylbx2!=''">grcdylbx2=#{grcdylbx2},</if>
			<if test="shengyubx!=null and shengyubx!=''">shengyubx=#{shengyubx},</if>
			<if test="gsbx!=null and gsbx!=''">gsbx=#{gsbx},</if>
			<if test="salarykhh!=null and salarykhh!=''">salarykhh=#{salarykhh},</if>
			<if test="salaryaccount!=null and salaryaccount!=''">salaryaccount=#{salaryaccount},</if>
			<if test="sbjnd!=null and sbjnd!=''">sbjnd=#{sbjnd},</if>
			<if test="sbcode!=null and sbcode!=''">sbcode=#{sbcode}</if>
		</set>
		where id=#{id}
	</update>

</mapper>
