<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IDimissionInformationDao">

	<resultMap id="dimissionInformaionMapper" type="DimissionInformation">
		<id column="id" property="id" />
		<result column="dimissionuserid" property="dimissionuserid" />
		<result column="lastworkingdate" property="lastworkingdate" />
		<result column="dimissiontype" property="dimissiontype" />
		<result column="dimissionreason" property="dimissionreason" />
		<result column="transactoruserid" property="transactoruserid" />
		<result column="transactiondate" property="transactiondate" />
		<result column="dimissiondirection" property="dimissiondirection" />
		<result column="approvalnumbers" property="approvalnumbers" />
		<result column="approvalstatue" property="approvalstatue" />
		<result column="workingnumbers" property="workingnumbers" />
		<result column="workingstatue" property="workingstatue" />
		<result column="filenumbers" property="filenumbers" />
		<result column="filestatue" property="filestatue" />
		<result column="officesupplynumbers" property="officesupplynumbers" />
		<result column="officesupplystatue" property="officesupplystatue" />
	</resultMap>

	<insert id="insertOne" parameterType="DimissionInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_hr_dimission
		(id,
		 dimissionuserid,
		 lastworkingdate,
		 dimissiontype,
		 dimissionreason,
		 transactoruserid,
		 transactiondate,
		 dimissiondirection,
		 approvalnumbers,
		 approvalstatue,
		 workingnumbers,
		 workingstatue,
		 filenumbers,
		 filestatue,
		 officesupplynumbers,
		 officesupplystatue)
		VALUES
		(NULL ,
		#{dimissionuserid},
		#{lastworkingdate},
		#{dimissiontype},
		#{dimissionreason},
		#{transactoruserid},
		#{transactiondate},
		#{dimissiondirection},
		#{approvalnumbers},
		#{approvalstatue},
		#{workingnumbers},
		#{workingstatue},
		#{filenumbers},
		#{filestatue},
		#{officesupplynumbers},
		#{officesupplystatue})
	</insert>

	<select id="selectByCondition" parameterType="DimissionInformation" resultMap="dimissionInformaionMapper">
		select * from tb_hr_dimission
		<where>
			<if test="dimissionuserid!=null and dimissionuserid!=''">and dimissionuserid = #{dimissionuserid}</if>
			<if test="lastworkingdate!=null and lastworkingdate!=''">and lastworkingdate = #{lastworkingdate}</if>
			<if test="dimissiontype!=null and dimissiontype!=''">and dimissiontype = #{dimissiontype}</if>
			<if test="dimissionreason!=null and dimissionreason!=''">and dimissionreason = #{dimissionreason}</if>
			<if test="transactoruserid!=null and transactoruserid!=''">and transactoruserid = #{transactoruserid}</if>
			<if test="transactiondate!=null and transactiondate!=''">and transactiondate = #{transactiondate}</if>
			<if test="dimissiondirection!=null and dimissiondirection!=''">and dimissiondirection = #{dimissiondirection}</if>
			<if test="approvalnumbers!=null and approvalnumbers!=''">and approvalnumbers = #{approvalnumbers}</if>
			<if test="approvalstatue!=null and approvalstatue!=''">and approvalstatue = #{approvalstatue}</if>
			<if test="workingnumbers!=null and workingnumbers!=''">and workingnumbers = #{workingnumbers}</if>
			<if test="workingstatue!=null and workingstatue!=''">and workingstatue = #{workingstatue}</if>
			<if test="filenumbers!=null and filenumbers!=''">and filenumbers = #{filenumbers}</if>
			<if test="filestatue!=null and filestatue!=''">and filestatue = #{filestatue}</if>
			<if test="officesupplynumbers!=null and officesupplynumbers!=''">and officesupplynumbers = #{officesupplynumbers}</if>
			<if test="officesupplystatue!=null and officesupplystatue!=''">and officesupplystatue = #{officesupplystatue}</if>
		</where>
	</select>

	<select id="selectOneById" parameterType="java.lang.Integer" resultMap="dimissionInformaionMapper">
		select * from tb_hr_dimission
		WHERE id =#{_parameter,jdbcType=NUMERIC}
	</select>

	<update id="updateOne" parameterType="DimissionInformation" >
		update tb_hr_dimission
		<set>
			<if test="approvalstatue!=null and approvalstatue!=''">approvalstatue=#{approvalstatue},</if>
			<if test="workingstatue!=null and workingstatue!=''">workingstatue=#{workingstatue},</if>
			<if test="filestatue!=null and filestatue!=''">filestatue=#{filestatue},</if>
			<if test="officesupplystatue!=null and officesupplystatue!=''">officesupplystatue=#{officesupplystatue}</if>
		</set>
		WHERE id=#{id}
	</update>
</mapper>
