<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.eqptDao.InRepositoryMapper">
    <select id="findAll" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT * FROM eqpt_inrepository
    </select>

    <insert id="insertNew" parameterType="string">
        INSERT INTO eqpt_inrepository VALUES (#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6},#{arg7})
    </insert>

    <select id="searchId" resultType="string">
        SELECT id FROM eqpt_material WHERE sn = #{sn} AND bn = #{bn}
    </select>
</mapper>
