<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.IMiDbIdDao">

	<resultMap id="BaseResultMap" type="MiDbId">
		<id column="ID_" property="id" />
		<result column="START_" property="start" />
		<result column="MAX_" property="max" />
		<result column="MAC_NAME_" property="macName" />
	</resultMap>
	
	<select id="getMiDbIdByMacName" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
			ID_,
			START_,
			MAX_,
			MAC_NAME_
		FROM
			MI_DB_ID
		WHERE MAC_NAME_=#{macName}
	</select>

	<update id="updateMiDbIdById" parameterType="java.util.Map">
		UPDATE MI_DB_ID SET START_=#{start},MAX_=#{max} WHERE ID_=#{id}
	</update>

	<select id="getMaxId" resultType="java.util.Map">
		select max(ID_) as maxId from MI_DB_ID
	</select>

	<insert id="insertMiDbId" parameterType="java.util.Map">
		INSERT INTO MI_DB_ID(ID_,START_,MAX_,MAC_NAME_)VALUES(#{id},#{start},#{max},#{macName})
	</insert>
	
</mapper>