<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.eqptDao.PartnerMapper">
    <select id="PartnerList" resultType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner
    </select>

    <select id="searchPartner" resultType="com.elex.oa.entity.eqpt.Partner" parameterType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner
        <where>
            <if test="pnCategory != null and pnCategory != ''">
                OR pnCategory = #{pnCategory}
            </if>
            <if test="company != null and company != ''">
                OR company = #{company}
            </if>
            <if test="pjName != null and pjName != ''">
                OR pjName = #{pjName}
            </if>
            <if test="name != null and name != ''">
                OR name = #{name}
            </if>
        </where>
    </select>

    <insert id="importPartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        INSERT INTO eqpt_partner VALUES (NULL,#{pnCategory},#{company},#{pjName},#{name})
    </insert>

    <insert id="insertPartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        INSERT INTO eqpt_partner VALUES (#{pnCategory},#{company},#{pjName},#{name})
    </insert>

    <select id="findName" resultType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner WHERE name = #{name}
    </select>

    <update id="changePartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        UPDATE eqpt_partner
        <set>
            <if test="pnCategory != null and pnCategory != ''">
                OR pnCategory = #{pnCategory}
            </if>
            <if test="company != null and company != ''">
                OR company = #{company}
            </if>
            <if test="pjName != null and pjName != ''">
                OR pjName = #{pjName}
            </if>
            <if test="name != null and name != ''">
                OR name = #{name}
            </if>
        </set>
        WHERE name = #{name}
    </update>

    <delete id="deletePartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        DELETE FROM eqpt_partner WHERE name = #{name}
    </delete>

</mapper>
