<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.eqptDao.PartnerMapper">
    <select id="PartnerList" resultType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner
    </select>

    <select id="searchPartner" resultType="com.elex.oa.entity.eqpt.Partner" parameterType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner
        <where>
            <if test="pnCategory != null and pnCategory != ''">
                OR pnCategory = #{pnCategory}
            </if>
            <if test="company != null and company != ''">
                OR company = #{company}
            </if>
            <if test="name != null and name != ''">
                OR name = #{name}
            </if>
            <if test="tel != null and tel != ''">
                OR tel = #{tel}
            </if>
            <if test="country != null and country != ''">
                OR country = #{country}
            </if>
            <if test="province != null and province != ''">
                OR province = #{province}
            </if>
            <if test="city != null and city != ''">
                OR city = #{city}
            </if>
            <if test="area != null and area != ''">
                OR area = #{area}
            </if>
            <if test="detail != null and detail != ''">
                OR detail = #{detail}
            </if>
        </where>
    </select>

    <insert id="insertPartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        INSERT INTO eqpt_partner VALUES (#{pnCategory},#{company},#{name},#{tel},#{country},#{province},#{city},#{area},#{detail})
    </insert>

    <select id="findName" resultType="com.elex.oa.entity.eqpt.Partner">
        SELECT * FROM eqpt_partner WHERE name = #{name}
    </select>

    <update id="changePartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        UPDATE eqpt_partner
        <set>
            <if test="pnCategory != null">
                pnCategory = #{pnCategory},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="detail != null">
                detail = #{detail},
            </if>
        </set>
        WHERE name = #{name}
    </update>

    <delete id="deletePartner" parameterType="com.elex.oa.entity.eqpt.Partner">
        DELETE FROM eqpt_partner WHERE name = #{name}
    </delete>

</mapper>
