<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IPersonalInformationDao">

	<resultMap id="PersonalInformationResultMap" type="PersonalInformation">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="employeenumber" property="employeenumber" />
		<result column="depid" property="depid" />
		<result column="sex" property="sex" />
		<result column="telphoneid" property="telphoneid" />
		<result column="mobilephone" property="mobilephone" />
		<result column="baseinformationid" property="baseinformationid" />
		<result column="manageinformationid" property="manageinformationid" />
		<result column="costinformationid" property="costinformationid" />
		<result column="otherinformationid" property="otherinformationid" />
	</resultMap>

	<select id="selectByConditions" parameterType="PersonalInformation" resultMap="PersonalInformationResultMap">
		SELECT
			per.id,
			per.userid,
			per.employeenumber,
			per.depid,
			per.sex,
			per.telphoneid,
			per.mobilephone,
		    per.baseinformationid,
		    per.manageinformationid,
			per.costinformationid,
			per.otherinformationid
		FROM
			tb_id_personalinformation per
		JOIN tb_id_user u ON per.userid = u.id
		JOIN tb_id_department d ON per.depid = d.id
		JOIN tb_id_baseinformation b ON per.baseinformationid = b.id
	</select>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="PersonalInformationResultMap">
		SELECT
			per.id,
			per.userid,
			per.employeenumber,
			per.depid,
			per.sex,
			per.telphoneid,
			per.mobilephone,
		    per.baseinformationid,
		    per.manageinformationid,
			per.costinformationid,
			per.otherinformationid
		FROM
			tb_id_personalinformation per
			JOIN tb_id_user u ON per.userid = u.id
		WHERE
			per.id=#{id} and u.state = 1
	</select>

	<select id="selectByUserid" parameterType="java.lang.Integer" resultMap="PersonalInformationResultMap">
		SELECT
			per.id,
			per.userid,
			per.employeenumber,
			per.depid,
			per.sex,
			per.telphoneid,
			per.mobilephone,
		    per.baseinformationid,
		    per.manageinformationid,
			per.costinformationid,
			per.otherinformationid
		FROM
			tb_id_personalinformation per
			JOIN tb_id_user u ON per.userid = u.id
		WHERE
			userid=#{userid} and u.state=1
	</select>

	<insert id="insertOne" parameterType="PersonalInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_personalinformation (
			id,
			userid,
			employeenumber,
			depid,
			sex,
			telphoneid,
			mobilephone,
			baseinformationid,
			manageinformationid,
			costinformationid,
			otherinformationid)
		values (
			NULL ,
			#{userid},
			#{employeenumber},
			#{depid},
			#{sex},
			#{telphoneid},
			#{mobilephone},
			#{baseinformationid},
			#{manageinformationid},
			#{costinformationid},
			#{otherinformationid})
	</insert>

	<update id="updateOne" parameterType="PersonalInformation" >
		update tb_id_personalinformation
		<set>
			<if test="employeenumber!=null and employeenumber!=''">
				employeenumber=#{employeenumber},
			</if>
			<if test="depid!=null and depid!=''">
				depid=#{depid},
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex},
			</if>
			<if test="telphoneid!=null and telphoneid!=''">
				telphoneid=#{telphoneid},
			</if>
			<if test="mobilephone!=null and mobilephone!=''">
				mobilephone=#{mobilephone},
			</if>
			<if test="manageinformationid!=null and manageinformationid!=''">
				manageinformationid=#{manageinformationid},
			</if>
			<if test="costinformationid!=null and costinformationid!=''">
				costinformationid=#{costinformationid},
			</if>
			<if test="otherinformationid!=null and otherinformationid!=''">
				otherinformationid=#{otherinformationid}
			</if>
		</set>
		WHERE id=#{id}
	</update>

	<select id="selectAll" resultMap="PersonalInformationResultMap">
		select
			per.id,
			per.userid,
			per.employeenumber,
			per.depid,
			per.sex,
			per.telphoneid,
			per.mobilephone,
		    per.baseinformationid,
		    per.manageinformationid,
			per.costinformationid,
			per.otherinformationid
		from
			 tb_id_personalinformation per
			 JOIN tb_id_user u ON per.userid = u.id
		WHERE
			u.state = 1
	</select>

</mapper>
