<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IPersonalInformationDao">

	<resultMap id="PersonalInformationResultMap" type="PersonalInformation">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="employeenumber" property="employeenumber" />
		<result column="depid" property="depid" />
		<result column="postid" property="postid" />
		<result column="sex" property="sex" />
		<result column="telphone" property="telphone" />
		<result column="mobilephone" property="mobilephone" />
		<result column="baseinformationid" property="baseinformationid" />
		<result column="manageinformationid" property="manageinformationid" />
		<result column="costinformationid" property="costinformationid" />
		<result column="otherinformationid" property="otherinformationid" />
	</resultMap>

	<select id="selectByConditions" parameterType="PersonalInformation" resultMap="PersonalInformationResultMap">
		SELECT
			id,
			userid,
			employeenumber,
			depid,
			postid,
			sex,
			telphone,
			mobilephone
		FROM
			tb_id_personalinformation
		<where>
			<if test="userid!=null and userid!=''">
				and userid=#{userid}
			</if>
			<if test="employeenumber!=null and employeenumber!=''">
				and employeenumber=#{employeenumber}
			</if>
			<if test="depid!=null and depid!=''">
				and depid=#{depid}
			</if>
			<if test="postid!=null and postid!=''">
				and postid=#{postid}
			</if>
		</where>
	</select>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="PersonalInformationResultMap">
		SELECT
			id,
			userid,
			employeenumber,
			depid,
			postid,
			sex,
			telphone,
			mobilephone,
			baseinformationid,
			manageinformationid,
			costinformationid,
			otherinformationid
		FROM
			tb_id_personalinformation
		WHERE
			id=#{id}
	</select>

	<select id="selectByUserid" parameterType="java.lang.Integer" resultMap="PersonalInformationResultMap">
		SELECT
			id,
			userid,
			employeenumber,
			depid,
			postid,
			sex,
			telphone,
			mobilephone,
			baseinformationid,
			manageinformationid,
			costinformationid,
			otherinformationid
		FROM
			tb_id_personalinformation
		WHERE
			userid=#{userid}
	</select>

	<insert id="insertOne" parameterType="PersonalInformation" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_personalinformation (
			id,
			userid,
			employeenumber,
			depid,
			postid,
			sex,
			telphone,
			mobilephone,
			baseinformationid,
			manageinformationid,
			costinformationid,
			otherinformationid)
		values (
			#{id},
			#{userid},
			#{employeenumber},
			#{depid},
			#{postid},
			#{sex},
			#{telphone},
			#{mobilephone},
			#{baseinformationid},
			#{manageinformationid},
			#{costinformationid},
			#{otherinformationid})
	</insert>

	<update id="updateOne" parameterType="PersonalInformation" >
		update tb_id_personalinformation
		<set>
			<if test="employeenumber!=null and employeenumber!=''">
				employeenumber=#{employeenumber},
			</if>
			<if test="depid!=null and depid!=''">
				depid=#{depid},
			</if>
			<if test="postid!=null and postid!=''">
				postid=#{postid},
			</if>
			<if test="sex!=null and sex!=''">
				sex=#{sex},
			</if>
			<if test="telphone!=null and telphone!=''">
				telphone=#{telphone},
			</if>
			<if test="mobilephone!=null and mobilephone!=''">
				mobilephone=#{mobilephone},
			</if>
			<if test="manageinformationid!=null and manageinformationid!=''">
				manageinformationid=#{manageinformationid},
			</if>
			<if test="costinformationid!=null and costinformationid!=''">
				costinformationid=#{costinformationid},
			</if>
			<if test="otherinformationid!=null and otherinformationid!=''">
				otherinformationid=#{otherinformationid}
			</if>
		</set>
		WHERE id=#{id}
	</update>

	<select id="selectAll" resultMap="PersonalInformationResultMap">
		select * from tb_id_personalinformation
	</select>

</mapper>
