<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IPostLogDao">

	<resultMap id="postLogMapper" type="PostLog">
		<id column="id" property="id" />
		<result column="postid" property="postid" />
		<result column="changeinformation" property="changeinformation" />
		<result column="beforeinformation" property="beforeinformation" />
		<result column="afterinformation" property="afterinformation" />
		<result column="changereason" property="changereason" />
		<result column="changedate" property="changedate" />
		<result column="transactoruserid" property="transactoruserid" />
	</resultMap>

	<select id="selectAllPostLog" resultMap="postLogMapper">
		select * from tb_post_log l
		JOIN tb_id_post p ON l.postid = p.id
		WHERE p.state=1
	</select>

	<insert id="insertOne" parameterType="PostLog" useGeneratedKeys="true" keyProperty="id">
		insert into tb_post_log
		(id,
		postid,
		changeinformation,
		beforeinformation,
		afterinformation,
		changereason,
		changedate,
		transactoruserid
		)
		VALUES
		(NULL ,
		#{postid},
		#{changeinformation},
		#{beforeinformation},
		#{afterinformation},
		#{changereason},
		#{changedate},
		#{transactoruserid})
	</insert>

	<select id="selectByConditions" parameterType="DeptLog" resultMap="postLogMapper">
		SELECT * FROM tb_post_log l
		JOIN tb_id_post p ON l.postid = p.id
		<where>
			<if test="postid!=null and postid!=''">AND postid=#{postid}</if>
			<if test="changeinformation!=null and changeinformation!=''">AND changeinformation=#{changeinformation}</if>
			<if test="changedate!=null and changedate!=''">AND changedate=#{changedate}</if>
			AND p.state=1
		</where>
	</select>

</mapper>
