<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IPostDao">

	<resultMap id="postMapper" type="Post">
		<id column="id" property="id" />
		<result column="postname" property="postname" />
		<result column="functionaltype" property="functionaltype" />
		<result column="postlevel" property="postlevel" />
		<result column="postcode" property="postcode" />
		<result column="parentpostid" property="parentpostid" />
		<result column="organization" property="organization" />
		<result column="duty" property="duty" />
		<result column="entryrequirements" property="entryrequirements" />
		<result column="jobdescription" property="jobdescription" />
		<result column="dutyfile" property="dutyfile" />
	</resultMap>

	<select id="selectPostByPostid" parameterType="java.lang.Integer" resultMap="postMapper">
		select * from tb_id_post
		where id = #{id}
	</select>
	<select id="selectPostByPostname" parameterType="java.lang.String" resultMap="postMapper">
		select * from tb_id_post
		where postname = #{postname}
	</select>
	<select id="selectAllPosts" resultMap="postMapper">
		select * from tb_id_post
	</select>
	<select id="selectPostsByParentpostid" parameterType="java.lang.Integer" resultMap="postMapper">
		select * from tb_id_post
		<where>
			<if test="_parameter!=null and _parameter!=''">
				parentpostid = #{_parameter,jdbcType=INTEGER}
			</if>
			<if test="_parameter==null or _parameter==''">
				parentpostid is null
			</if>
		</where>
	</select>
	<insert id="insertOne" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_post
		(id,
		postname,
		functionaltype,
		postlevel,
		 postcode,
		 parentpostid,
		 organization,
		 duty,
		 entryrequirements,
		 jobdescription,
		 dutyfile)
		VALUES
		(NULL ,
		#{postname},
		#{functionaltype},
		#{postlevel},
		#{postcode},
		#{parentpostid},
		#{organization},
		#{duty},
		#{entryrequirements},
		#{jobdescription},
		#{dutyfile})
	</insert>

</mapper>
