<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.IProjectDao">

	<resultMap id="BaseResultMap" type="Project">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="approval_time" property="approvalTimeStr" />
		<result column="project_source" property="projectSource" />
		<result column="project_type_name" property="projectTypeName" />
		<result column="approval_department" property="approvalDepartment" />
		<result column="business_manager" property="businessManager" />
		<result column="project_manager" property="projectManager" />
		<result column="status" property="status" />
		<result column="description" property="description" />
	</resultMap>
	
	<select id="queryAllProject" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
			  a.code,
			  a.name,
			  DATE_FORMAT(a.approval_time, '%Y-%m-%d') as approval_time,
				case when a.project_source = '0' then '个人拓展'
						 when a.project_source = '1' then '公司资源'
						 when a.project_source = '2' then '公司立项'
				   when a.project_source = '3' then '其他资源'
						 else '其他' end  as project_source,
			  b.name as project_type_name,
			  c.name as approval_department,
			  a.business_manager,
			  a.project_manager,
			  case when a.status = '0' then '进行'
						 when a.status = '1' then '暂停'
						 when a.status = '2' then '完成'
						 else '其他' end  as status,
			  a.description
		FROM
			project a
		LEFT JOIN project_type b ON a.project_type_id = b.id
    	LEFT JOIN department c ON a.approval_department_id = c.id
		<where>
			<if test="projectCode!=null and projectCode!=''">
				and a.code like concat(concat('%',#{projectCode}),'%')
			</if>
			<if test="projectName != null and projectName != ''">
				and a.name like concat(concat('%',#{projectName}),'%')
			</if>
			<if test="projectType != null and projectType != ''">
				and a.project_type_id=#{projectType}
			</if>
			<if test="approvalDepartment != null and approvalDepartment != ''">
				and a.approval_department_id=#{approvalDepartment}
			</if>
			<if test="businessManager!=null and businessManager!=''">
				and a.business_manager like concat(concat('%',#{businessManager}),'%')
			</if>
			<if test="projectManager!=null and projectManager!=''">
				and a.project_manager like concat(concat('%',#{projectManager}),'%')
			</if>
			<if test="status != null and status != ''">
				and a.status=#{status}
			</if>
			<if test="approvalStartDate != null and approvalStartDate != ''">
				and a.approval_time &gt;=#{approvalStartDate}
			</if>
			<if test="approvalEndDate != null and approvalEndDate != ''">
				and a.approval_time &lt;=#{approvalEndDate}
			</if>
		</where>
		ORDER BY a.id asc
	</select>
	
</mapper>