<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.ISysTreeDao">

    <resultMap id="BaseResultMap" type="SysTree">
        <id column="TREE_ID_" property="treeId" />
        <result column="KEY_" property="key" />
        <result column="NAME_" property="name" />
        <result column="PATH_" property="path" />
        <result column="DEPTH_" property="depth" />
        <result column="PARENT_ID_" property="parentId" />
        <result column="CODE_" property="code" />
        <result column="DESCP_" property="descp" />
        <result column="USER_ID_" property="userId" />
        <result column="CAT_KEY_" property="catKey" />
        <result column="SN_" property="sn" />
        <result column="DATA_SHOW_TYPE_" property="dataShowType" />
        <result column="TENANT_ID_" property="tenantId"/>
    </resultMap>
    <sql id="Base_Column_List" >TREE_ID_,KEY_,NAME_,PATH_,DEPTH_,PARENT_ID_,CODE_,DESCP_,USER_ID_,CAT_KEY_,DATA_SHOW_TYPE_,TENANT_ID_</sql>
    <select id="getTreeById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_tree
        WHERE
        TREE_ID_ =#{id}
    </select>

    <select id="selectByCatKey" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_tree
        <where>
            <if test="catKey!=null and catKey!=''">
                and CAT_KEY_ = #{catKey}
            </if>
            <if test="tenantId != null and tenantId != ''">
                and  TENANT_ID_ = #{tenantId}
            </if>
        </where>
        ORDER BY SN_ asc
    </select>







</mapper>