<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elex.oa.dao.dao_shiyun.IUserDao">

	<resultMap id="UserMapper" type="User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="truename" property="truename" />
		<result column="isactive" property="isactive" />
	</resultMap>

	<insert id="insertOne" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into tb_id_user (
			id,
			username,
			password,
			truename,
			isactive)
		values (
			NULL,
			#{username},
			#{password},
			#{truename},
			#{isactive},)
	</insert>

	<select id="selectById" parameterType="java.lang.Integer" resultMap="UserMapper">
		select * from tb_id_user
		where id=#{id}
	</select>

</mapper>
