<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.eqptDao.InRepositoryMapper">
    <select id="findAll" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT * FROM eqpt_inrepository
    </select>

    <insert id="insertNew" parameterType="string">
        INSERT INTO eqpt_inrepository VALUES (NULL,#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6},#{arg7},#{arg8},#{arg9},#{arg10},#{arg11},#{arg12},#{arg13},#{arg14},#{arg15},#{arg16},#{arg17})
    </insert>

    <select id="ID" resultType="string">
        SELECT id FROM eqpt_material WHERE id = #{id}
    </select>

    <select id="INID" resultType="java.lang.String">
        SELECT inId FROM eqpt_inrepository WHERE inId = #{inId}
    </select>

    <select id="OUTID" resultType="string">
        SELECT outId FROM eqpt_outrepository WHERE outId = #{outId}
    </select>

    <delete id="delete" parameterType="com.elex.oa.entity.eqpt.Repository">
        DELETE FROM eqpt_inrepository WHERE onlyIdIn = #{onlyIdIn}
    </delete>

    <select id="showINID" resultType="java.lang.String">
        SELECT inId FROM eqpt_inrepository WHERE inId LIKE CONCAT(CONCAT('%',#{inId},'%'))
    </select>

    <select id="wdbh" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT F_WDBH AS inId FROM w_ywcgddhtpsb WHERE NOT EXISTS (SELECT inInfo FROM eqpt_inrepository) AND INST_STATUS_ = 'SUCCESS_END'
        UNION
        SELECT DISTINCT F_WDBH AS inId FROM w_fwcgxqsqd WHERE NOT EXISTS (SELECT inInfo FROM eqpt_inrepository) AND INST_STATUS_ = 'SUCCESS_END'
        UNION
        SELECT DISTINCT F_WDBH AS inId FROM w_rccgddhtps WHERE NOT EXISTS (SELECT inInfo FROM eqpt_inrepository) AND INST_STATUS_ = 'SUCCESS_END'
    </select>

    <select id="showmat" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT w_cgmx.F_WLBM AS materialId,w_cgmx.F_WLMC AS materialName,w_cgmx.F_GGXH AS spec,w_cgmx.F_CGSL AS inNum,w_jyd.F_WDBH AS 'check',w_jyd.F_XLH AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx,w_jyd WHERE w_cgmx.REF_ID_ = (SELECT DISTINCT ID_ FROM w_ywcgddhtpsb WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx.F_WLBM AND w_jyd.F_WLBM = eqpt_material.id
        UNION
        SELECT DISTINCT w_cgmx.F_WLBM AS materialId,w_cgmx.F_WLMC AS materialName,w_cgmx.F_GGXH AS spec,w_cgmx.F_CGSL AS inNum,'' AS 'check','' AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx,w_jyd WHERE w_cgmx.REF_ID_ = (SELECT DISTINCT ID_ FROM w_ywcgddhtpsb WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx.F_WLBM AND eqpt_material.id = (SELECT id FROM eqpt_material WHERE eqpt_material.id not in (SELECT F_WLBM FROM w_jyd))
        UNION
        SELECT DISTINCT w_cgmx1.F_WLBM AS materialId,w_cgmx1.F_WLMC AS materialName,w_cgmx1.F_GGXH AS spec,w_cgmx1.F_CGSL AS inNum,w_jyd.F_WDBH AS 'check',w_jyd.F_XLH AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx1,w_jyd WHERE w_cgmx1.REF_ID_ = (SELECT DISTINCT ID_ FROM w_fwcgxqsqd WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx1.F_WLBM AND w_jyd.F_WLBM = eqpt_material.id
        UNION
        SELECT DISTINCT w_cgmx1.F_WLBM AS materialId,w_cgmx1.F_WLMC AS materialName,w_cgmx1.F_GGXH AS spec,w_cgmx1.F_CGSL AS inNum,'' AS 'check','' AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx1,w_jyd WHERE w_cgmx1.REF_ID_ = (SELECT DISTINCT ID_ FROM w_fwcgxqsqd WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx1.F_WLBM AND eqpt_material.id = (SELECT id FROM eqpt_material WHERE eqpt_material.id not in (SELECT F_WLBM FROM w_jyd))
        UNION
        SELECT DISTINCT w_cgmx11.F_WLBM AS materialId,w_cgmx11.F_WLMC AS materialName,w_cgmx11.F_GGXH AS spec,w_cgmx11.F_CGSL AS inNum,w_jyd.F_WDBH AS 'check',w_jyd.F_XLH AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx11,w_jyd WHERE w_cgmx11.REF_ID_ = (SELECT DISTINCT ID_ FROM w_rccgddhtps WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx11.F_WLBM AND w_jyd.F_WLBM = eqpt_material.id
        UNION
        SELECT DISTINCT w_cgmx11.F_WLBM AS materialId,w_cgmx11.F_WLMC AS materialName,w_cgmx11.F_GGXH AS spec,w_cgmx11.F_CGSL AS inNum,'' AS 'check','' AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_cgmx11,w_jyd WHERE w_cgmx11.REF_ID_ = (SELECT DISTINCT ID_ FROM w_rccgddhtps WHERE F_WDBH = #{wdbh} ORDER BY ID_ DESC LIMIT 1) AND eqpt_material.id = w_cgmx11.F_WLBM AND eqpt_material.id = (SELECT id FROM eqpt_material WHERE eqpt_material.id not in (SELECT F_WLBM FROM w_jyd))
        ORDER BY materialId
    </select>

    <select id="showproj" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_ywcgddhtpsb.F_XMBH AS projId,w_ywcgddhtpsb.F_XMMC AS projName FROM w_ywcgddhtpsb WHERE F_WDBH = #{wdbh}
        UNION
        SELECT w_fwcgxqsqd.F_XMBH AS projId,w_fwcgxqsqd.F_XMMC AS projName FROM w_fwcgxqsqd WHERE F_WDBH = #{wdbh}
    </select>
</mapper>
