<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elex.oa.dao.eqptDao.ShiftRepositoryMapper">

    <select id="showRepository" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT * FROM eqpt_shiftrepository
    </select>

    <select id="searchShift" resultType="com.elex.oa.entity.eqpt.Repository" parameterType="com.elex.oa.entity.eqpt.Repository">
        SELECT * FROM eqpt_shiftrepository
        <where>
            <if test="shiftId != null and shiftId != '' and shiftIdC == ''">
                AND shiftId LIKE CONCAT(CONCAT('%', #{shiftId}), '%')
            </if>
            <if test="shiftId != null and shiftId != '' and shiftIdC == 1">
                AND shiftId LIKE CONCAT(CONCAT('%', #{shiftId}), '%')
            </if>
            <if test="shiftId != null and shiftId != '' and shiftIdC == 2">
                AND shiftId NOT LIKE CONCAT(CONCAT('%', #{shiftId}), '%')
            </if>
            <if test="shiftTime != null and shiftTime != '' and shiftTimeC == ''">
                AND shiftTime LIKE CONCAT(CONCAT('%', #{shiftTime}), '%')
            </if>
            <if test="shiftTime != null and shiftTime != '' and shiftTimeC == 1">
                AND shiftTime LIKE CONCAT(CONCAT('%', #{shiftTime}), '%')
            </if>
            <if test="shiftTime != null and shiftTime != '' and shiftTimeC == 2">
                AND shiftTime NOT LIKE CONCAT(CONCAT('%', #{shiftTime}), '%')
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == ''">
                AND shiftNum LIKE CONCAT(CONCAT('%', #{shiftNum}), '%')
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == 1">
                AND shiftNum &lt; #{shiftNum}
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == 2">
                AND shiftNum > #{shiftNum}
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == 3">
                AND shiftNum = #{shiftNum}
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == 4">
                AND shiftNum &lt;= #{shiftNum}
            </if>
            <if test="shiftNum != null and shiftNum != '' and shiftNumC == 5">
                AND shiftNum >= #{shiftNum}
            </if>
            <if test="outRept != null and outRept != '' and outReptC == ''">
                AND outRept LIKE CONCAT(CONCAT('%', #{outRept}), '%')
            </if>
            <if test="outRept != null and outRept != '' and outReptC == 1">
                AND outRept LIKE CONCAT(CONCAT('%', #{outRept}), '%')
            </if>
            <if test="outRept != null and outRept != '' and outReptC == 2">
                AND outRept NOT LIKE CONCAT(CONCAT('%', #{outRept}), '%')
            </if>
            <if test="outPost != null and outPost != '' and outPostC == ''">
                AND outPost LIKE CONCAT(CONCAT('%', #{outPost}), '%')
            </if>
            <if test="outPost != null and outPost != '' and outPostC == 1">
                AND outPost LIKE CONCAT(CONCAT('%', #{outPost}), '%')
            </if>
            <if test="outPost != null and outPost != '' and outPostC == 2">
                AND outPost NOT LIKE CONCAT(CONCAT('%', #{outPost}), '%')
            </if>
            <if test="inRept != null and inRept != '' and inReptC == ''">
                AND inRept LIKE CONCAT(CONCAT('%', #{inRept}), '%')
            </if>
            <if test="inRept != null and inRept != '' and inReptC == 1">
                AND inRept LIKE CONCAT(CONCAT('%', #{inRept}), '%')
            </if>
            <if test="inRept != null and inRept != '' and inReptC == 2">
                AND inRept NOT LIKE CONCAT(CONCAT('%', #{inRept}), '%')
            </if>
            <if test="inPost != null and inPost != '' and inPostC == ''">
                AND inPost LIKE CONCAT(CONCAT('%', #{inPost}), '%')
            </if>
            <if test="inPost != null and inPost != '' and inPostC == 1">
                AND inPost LIKE CONCAT(CONCAT('%', #{inPost}), '%')
            </if>
            <if test="inPost != null and inPost != '' and inPostC == 2">
                AND inPost NOT LIKE CONCAT(CONCAT('%', #{inPost}), '%')
            </if>
            <if test="projId != null and projId != '' and projIdC == ''">
                AND projId LIKE CONCAT(CONCAT('%', #{projId}), '%')
            </if>
            <if test="projId != null and projId != '' and projIdC == 1">
                AND projId LIKE CONCAT(CONCAT('%', #{projId}), '%')
            </if>
            <if test="projId != null and projId != '' and projIdC == 2">
                AND projId NOT LIKE CONCAT(CONCAT('%', #{projId}), '%')
            </if>
            <if test="projName != null and projName != '' and projNameC == ''">
                AND projName LIKE CONCAT(CONCAT('%', #{projName}), '%')
            </if>
            <if test="projName != null and projName != '' and projNameC == 1">
                AND projName LIKE CONCAT(CONCAT('%', #{projName}), '%')
            </if>
            <if test="projName != null and projName != '' and projNameC == 2">
                AND projName NOT LIKE CONCAT(CONCAT('%', #{projName}), '%')
            </if>
            <if test="materialId != null and materialId != '' and matIdC == ''">
                AND materialId LIKE CONCAT(CONCAT('%', #{materialId}), '%')
            </if>
            <if test="materialId != null and materialId != '' and matIdC == 1">
                AND materialId LIKE CONCAT(CONCAT('%', #{materialId}), '%')
            </if>
            <if test="materialId != null and materialId != '' and matIdC == 2">
                AND materialId NOT LIKE CONCAT(CONCAT('%', #{materialId}), '%')
            </if>
            <if test="sn != null and sn != '' and snC == ''">
                AND sn LIKE CONCAT(CONCAT('%', #{sn}), '%')
            </if>
            <if test="sn != null and sn != '' and snC == 1">
                AND sn LIKE CONCAT(CONCAT('%', #{sn}), '%')
            </if>
            <if test="sn != null and sn != '' and snC == 2">
                AND sn NOT LIKE CONCAT(CONCAT('%', #{sn}), '%')
            </if>
            <if test="bn != null and bn != '' and bnC == ''">
                AND bn LIKE CONCAT(CONCAT('%', #{bn}), '%')
            </if>
            <if test="bn != null and bn != '' and bnC == 1">
                AND bn LIKE CONCAT(CONCAT('%', #{bn}), '%')
            </if>
            <if test="bn != null and bn != '' and bnC == 2">
                AND bn NOT LIKE CONCAT(CONCAT('%', #{bn}), '%')
            </if>
        </where>
    </select>

    <insert id="insertNew" parameterType="string">
        INSERT INTO eqpt_shiftrepository VALUES (#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6},#{arg7},#{arg8},#{arg9},#{arg10},#{arg11},#{arg12},#{arg13},#{arg14},#{arg15},#{arg16},#{arg17},NULL)
    </insert>

    <select id="showSHIFTID" resultType="java.lang.String">
        SELECT shiftId FROM eqpt_shiftrepository WHERE shiftId LIKE CONCAT(CONCAT('%',#{shiftId},'%'))
    </select>

    <select id="lockMat" resultType="com.elex.oa.entity.eqpt.Material">
        SELECT * FROM eqpt_material WHERE id = #{id}
    </select>

    <select id="theNumberOut" resultType="string">
        SELECT num FROM eqpt_detail WHERE reptId = #{reptId} AND postId = #{postId}
    </select>

    <select id="theNumberIn" resultType="string">
        SELECT num FROM eqpt_detail WHERE reptId = #{reptId} AND postId = #{postId}
    </select>

    <select id="wdbhJ" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT ID_ AS shiftId FROM w_jysqd1 WHERE ID_ NOT IN (SELECT shiftInfo FROM eqpt_shiftrepository)
    </select>

    <select id="wdbhL" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT wdbh AS shiftId FROM w_sclld
    </select>

    <select id="wdbhG" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT ID_ AS shiftId FROM w_jysqd1 WHERE ID_ NOT IN (SELECT shiftInfo FROM eqpt_shiftrepository)
    </select>

    <select id="wdbhT" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT DISTINCT wdbh AS shiftId FROM w_sclld
    </select>

    <select id="showmatJ" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_lymx123.F_WLBM AS materialId,w_lymx123.F_WLMC AS materialName,w_lymx123.F_GGXH AS spec,w_lymx123.F_LYSL AS shiftNum,w_lymx123.F_WLMC AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_jysqd WHERE wdbh = #{wdbh} AND eqpt_material.id = w_jysqd.wlbh
    </select>

    <select id="showmatL" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_sclld.wlbh AS materialId,w_sclld.wlmc AS materialName,w_sclld.ggxh AS spec,w_sclld.lysl AS shiftNum,w_sclld.pch_xlh AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_sclld WHERE wdbh = #{wdbh} AND eqpt_material.id = w_sclld.wlbh
    </select>

    <select id="showmatG" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_lymx123.F_WLBM AS materialId,w_lymx123.F_WLMC AS materialName,w_lymx123.F_GGXH AS spec,w_lymx123.F_LYSL AS shiftNum,w_lymx123.F_WLMC AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_jysqd WHERE wdbh = #{wdbh} AND eqpt_material.id = w_jysqd.wlbh
    </select>

    <select id="showmatT" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_sclld.wlbh AS materialId,w_sclld.wlmc AS materialName,w_sclld.ggxh AS spec,w_sclld.lysl AS shiftNum,w_sclld.pch_xlh AS sn,(eqpt_material.unit) AS unit,eqpt_material.remark AS remark FROM eqpt_material,w_sclld WHERE wdbh = #{wdbh} AND eqpt_material.id = w_sclld.wlbh
    </select>

    <select id="showprojJ" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_jysqd1.F_XMBH AS projId,w_jysqd1.F_XMMC AS projName FROM w_jysqd1 WHERE ID_ = #{wdbh}
    </select>

    <select id="showprojL" resultType="com.elex.oa.entity.eqpt.Repository">
        SELECT w_lysqq.F_XMBH AS projId,w_lysqq.F_XMMC AS projName FROM w_lysqq WHERE ID_ = #{wdbh}
    </select>
</mapper>
